<div>
    <NavBar></NavBar>

    //- <section class="section">
    //-     <div class="container">
    //-         <nav>
    //-             <ul>
    //-                 <li v-for="(step, index) in steps">
    //-                     <span>{{ index + 1 }}</span>
    //-                     <span>{{ step.title }}</span>
    //-                 </li>
    //-             </ul>
    //-         </nav>
    //-     </div>

    //-     <div class="panel">
    //-         <div class="panel__header">
    //-             <h3>{{ currentStepIndex + 1 }}. {{ currentStep.title }}</h3>
    //-         </div>

    //-         <div class="form__group" v-for="(field, index) in currentStep.fields">
    //-             <label v-bind:class="{ error: field_errors[field.name] }">{{ field.label }}</label>
    //-             <p v-if="field_errors[field.name]" class="error">
    //-                 <ul>
    //-                     <li v-for="error in field_errors[field.name]">{{ error }}</li>
    //-                 </ul>
    //-             </p>

    //-             <p v-if="field.description">{{ field.description }}</p>
    //-             <Input :name="field.name" :type="field.type" :values="field.values" />
    //-         </div>
    //-     </div>

    //-     <div class="notification error" v-if="main_error">{{ main_error }}.</div>

    //-     <div class="form__group">
    //-         <button class="button large" @click="nextStep">{{ submitLabel }}</button>
    //-     </div>
    //- </section>

    <section class="section section-white">
        <div class="container">
            <h1>Déclarer un site</h1>

            //- <section class="breadcrumbs">
            //-     <ul>
            //-         <li v-for="(step, index) in steps" class="breadcrumbs-step" :class="{ done: currentStep > index, active: currentStep === index }" @click="onStepClick(index)"><span>{{ index + 1 }}</span> {{ step.title }}</li>
            //-     </ul>
            //- </section>

            <div class="panel">
                <div class="panel__header">
                    <h3>1. Caractéristiques</h3>
                </div>
                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.address }"><sup class="mandatory">(*)</sup> Localisation géographique :</label>
                    <p class="error" v-if="fieldErrors.address">
                        <ul>
                            <li v-for="error in fieldErrors.address">{{ error }}</li>
                        </ul>
                    </p>
                    <p>Saisissez ici l'adresse du site, puis précisez sa position en déplaçant le point sur la carte.</p>
                    <Map placeholder="Saisissez ici l'adresse du site" :track-position="true" v-model="address"></Map>
                </div>

                <div class="form__group">
                    <label>Informations d'accès :</label>
                    <p>Saisissez ici toutes les informations qui, en plus de l'adresse, peuvent être utiles pour l'accès au site :</p>
                    <div class="input__group">
                        <input type="text" v-model="detailedAddress">
                    </div>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.priority }"><sup class="mandatory">(*)</sup> Niveau de priorité du site :</label>
                    <p>1 étant le niveau de priorité le plus haut</p>
                    <p class="error" v-if="fieldErrors.priority">
                        <ul>
                            <li v-for="error in fieldErrors.priority">{{ error }}</li>
                        </ul>
                    </p>
                    <select v-model="priority">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.declared_at }">Date de signalement du site :</label>
                    <p class="error" v-if="fieldErrors.declared_at">
                        <ul>
                            <li v-for="error in fieldErrors.declared_at">{{ error }}</li>
                        </ul>
                    </p>
                    <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="declared_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.built_at }">Date d'installation du site :</label>
                    <p class="error" v-if="fieldErrors.built_at">
                        <ul>
                            <li v-for="error in fieldErrors.built_at">{{ error }}</li>
                        </ul>
                    </p>
                    <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="builtAt" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                </div>

                <div class="form__group">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.field_type }"><sup class="mandatory">(*)</sup> Type de site :</legend>
                        <p class="error" v-if="fieldErrors.field_type">
                            <ul>
                                <li v-for="error in fieldErrors.field_type">{{ error }}</li>
                            </ul>
                        </p>
                        <div v-for="(type, index) in fieldTypes">
                            <input type="radio" :id="'fieldType' + index" :value="type.id" v-model="fieldType">
                            <label :for="'fieldType' + index" class="label-inline">{{ type.label }}</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form__group">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.owner_type }"><sup class="mandatory">(*)</sup> Type de propriétaire :</legend>
                        <p class="error" v-if="fieldErrors.owner_type">
                            <ul>
                                <li v-for="error in fieldErrors.owner_type">{{ error }}</li>
                            </ul>
                        </p>
                        <div v-for="(type, index) in ownerTypes">
                            <input type="radio" :id="'ownerType' + index" :value="type.id" v-model="ownerType">
                            <label :for="'ownerType' + index" class="label-inline">{{ type.label }}</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form__group" v-if="ownerTypes.find((type) => { return type.label !== 'Inconnu' && type.id === ownerType; })">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.owner }">Identité du propriétaire :</legend>
                        <p class="error" v-if="fieldErrors.owner">
                            <ul>
                                <li v-for="error in fieldErrors.owner">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="input__group">
                            <input type="text" v-model="owner" />
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="panel">
                <div class="panel__header">
                    <h3>2. Démographie</h3>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.census_status }"><sup class="mandatory">(*)</sup> Statut du diagnostic social :</label>
                    <p class="error" v-if="fieldErrors.census_status">
                        <ul>
                            <li v-for="error in fieldErrors.census_status">{{ error }}</li>
                        </ul>
                    </p>
                    <p>Un diagnostic social vise à identifier les situations et besoins des familles et personnes, de repérer le contexte territorial et les acteurs en présence.</p>
                    <div v-for="(value, index) in diagnosisValues">
                        <input type="radio" name="diagnosis" :id="'diagnosis' + index" :value="value.value" v-model="census_status">
                        <label :for="'diagnosis' + index" class="label-inline">{{ value.label }}</label>
                    </div>
                </div>

                <div class="form__group" v-if="census_status === 'scheduled' || census_status === 'done'">
                    <label v-bind:class="{ error: fieldErrors.census_conducted_at }">Date du diagnostic :</label>
                    <p class="error" v-if="fieldErrors.census_conducted_at">
                        <ul>
                            <li v-for="error in fieldErrors.census_conducted_at">{{ error }}</li>
                        </ul>
                    </p>
                    <datepicker :language="dateLanguage" :monday-first="true" v-model="census_conducted_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                </div>

                <div class="form__group" v-if="census_status === 'scheduled' || census_status === 'done'">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.census_conducted_by }">Service ou opérateur en charge du diagnostic :</legend>
                        <p class="error" v-if="fieldErrors.census_conducted_by">
                            <ul>
                                <li v-for="error in fieldErrors.census_conducted_by">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="input__group">
                            <input type="text" v-model="census_conducted_by" />
                        </div>
                    </fieldset>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.population_total }">Nombre de personnes :</label>
                    <p class="error" v-if="fieldErrors.population_total">
                        <ul>
                            <li v-for="error in fieldErrors.population_total">{{ error }}</li>
                        </ul>
                    </p>
                    <p>Laissez ce champ vide si l'information est inconnue</p>
                    <div class="input__group">
                        <input type="number" v-model.trim="populationTotal">
                    </div>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.population_couples }">Nombre de ménages :</label>
                    <p class="error" v-if="fieldErrors.population_couples">
                        <ul>
                            <li v-for="error in fieldErrors.population_couples">{{ error }}</li>
                        </ul>
                    </p>
                    <p>Laissez ce champ vide si l'information est inconnue</p>
                    <div class="input__group">
                        <input type="number" v-model.trim="populationCouples">
                    </div>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.population_minors }">Nombre de mineurs :</label>
                    <p class="error" v-if="fieldErrors.population_minors">
                        <ul>
                            <li v-for="error in fieldErrors.population_minors">{{ error }}</li>
                        </ul>
                    </p>
                    <p>Laissez ce champ vide si l'information est inconnue</p>
                    <div class="input__group">
                        <input type="number" v-model.trim="populationMinors">
                    </div>
                </div>

                <div class="form__group">
                    <fieldset>
                        <legend>Origines :</legend>
                        <p>Ne rien cocher si l'information est inconnue</p>
                        <div v-for="(origin, index) in socialOrigins">
                            <input type="checkbox" :id="'socialOrigins' + index" :value="origin.id" v-model="origins">
                            <label :for="'socialOrigins' + index" class="label-inline">{{ origin.label }}</label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="panel">
                <div class="panel__header">
                    <h3>3. Conditions de vie</h3>
                </div>

                <div class="form__group">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.access_to_electricity }"><sup class="mandatory">(*)</sup> Accès à l'électricité :</legend>
                        <p class="error" v-if="fieldErrors.access_to_electricity">
                            <ul>
                                <li v-for="error in fieldErrors.access_to_electricity">{{ error }}</li>
                            </ul>
                        </p>
                        <div v-for="(value, index) in yesnoValues">
                            <input type="radio" name="accessToElectricity" :id="'accessToElectricity' + index" :value="value.value" v-model="accessToElectricity">
                            <label :for="'accessToElectricity' + index" class="label-inline">{{ value.label }}</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form__group">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.access_to_water }"><sup class="mandatory">(*)</sup> Accès à l'eau :</legend>
                        <p class="error" v-if="fieldErrors.access_to_water">
                            <ul>
                                <li v-for="error in fieldErrors.access_to_water">{{ error }}</li>
                            </ul>
                        </p>
                        <div v-for="(value, index) in yesnoValues">
                            <input type="radio" name="accessToWater" :id="'accessToWater' + index" :value="value.value" v-model="accessToWater">
                            <label :for="'accessToWater' + index" class="label-inline">{{ value.label }}</label>
                        </div>
                    </fieldset>
                </div>

                <div class="form__group">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.trash_evacuation }"><sup class="mandatory">(*)</sup> Évacuation des déchets :</legend>
                        <p class="error" v-if="fieldErrors.trash_evacuation">
                            <ul>
                                <li v-for="error in fieldErrors.trash_evacuation">{{ error }}</li>
                            </ul>
                        </p>
                        <div v-for="(value, index) in yesnoValues">
                            <input type="radio" name="trashEvacuation" :id="'trashEvacuation' + index" :value="value.value" v-model="trashEvacuation">
                            <label :for="'trashEvacuation' + index" class="label-inline">{{ value.label }}</label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="panel">
                <div class="panel__header">
                    <h3>4. Procédure judiciaire d’expulsion des occupants</h3>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.justice_procedure }"><sup class="mandatory">(*)</sup> Existence d'une procédure judiciaire :</label>
                    <p class="error" v-if="fieldErrors.justice_procedure">
                        <ul>
                            <li v-for="error in fieldErrors.justice_procedure">{{ error }}</li>
                        </ul>
                    </p>
                    <div v-for="(value, index) in yesnoValues">
                        <input type="radio" name="justiceProcedure" :id="'justiceProcedure' + index" :value="value.value" v-model="justice_procedure">
                        <label :for="'justiceProcedure' + index" class="label-inline">{{ value.label }}</label>
                    </div>
                </div>

                <div class="form__group" v-if="justice_procedure === 1">
                    <label v-bind:class="{ error: fieldErrors.justice_rendered }"><sup class="mandatory">(*)</sup> Décision de justice rendue :</label>
                    <p class="error" v-if="fieldErrors.justice_rendered">
                        <ul>
                            <li v-for="error in fieldErrors.justice_rendered">{{ error }}</li>
                        </ul>
                    </p>
                    <div v-for="(value, index) in yesnoValues">
                        <input type="radio" name="justiceRendered" :id="'justiceRendered' + index" :value="value.value" v-model="justice_rendered">
                        <label :for="'justiceRendered' + index" class="label-inline">{{ value.label }}</label>
                    </div>
                </div>

                <div class="form__group" v-if="justice_procedure === 1 && justice_rendered === 1">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.justice_rendered_by }">Origine de la décision :</legend>
                        <p class="error" v-if="fieldErrors.justice_rendered_by">
                            <ul>
                                <li v-for="error in fieldErrors.justice_rendered_by">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="input__group">
                            <input type="text" v-model="justice_rendered_by" />
                        </div>
                    </fieldset>
                </div>

                <div class="form__group" v-if="justice_procedure === 1 && justice_rendered === 1">
                    <label v-bind:class="{ error: fieldErrors.justice_rendered_at }">Date de la décision :</label>
                    <p class="error" v-if="fieldErrors.justice_rendered_at">
                        <ul>
                            <li v-for="error in fieldErrors.justice_rendered_at">{{ error }}</li>
                        </ul>
                    </p>
                    <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="justice_rendered_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                </div>

                <div class="form__group" v-if="justice_procedure === 1 && justice_rendered === 1">
                    <label v-bind:class="{ error: fieldErrors.justice_challenged }"><sup class="mandatory">(*)</sup> Contentieux relatif à la décision de justice :</label>
                    <p class="error" v-if="fieldErrors.justice_challenged">
                        <ul>
                            <li v-for="error in fieldErrors.justice_challenged">{{ error }}</li>
                        </ul>
                    </p>
                    <div v-for="(value, index) in yesnoValues">
                        <input type="radio" name="justiceChallenged" :id="'justiceChallenged' + index" :value="value.value" v-model="justice_challenged">
                        <label :for="'justiceChallenged' + index" class="label-inline">{{ value.label }}</label>
                    </div>
                </div>

                <div class="form__group">
                    <label v-bind:class="{ error: fieldErrors.police_status }">Concours de la force publique :</label>
                    <p class="error" v-if="fieldErrors.police_status">
                        <ul>
                            <li v-for="error in fieldErrors.police_status">{{ error }}</li>
                        </ul>
                    </p>
                    <div v-for="(value, index) in cfpValues">
                        <input type="radio" name="cfp" :id="'cfp' + index" :value="value.value" v-model="police_status">
                        <label :for="'cfp' + index" class="label-inline">{{ value.label }}</label>
                    </div>
                </div>

                <div class="form__group" v-if="police_status === 'requested' || police_status === 'granted'">
                    <label v-bind:class="{ error: fieldErrors.police_requested_at }">Date de la demande du CFP :</label>
                    <p class="error" v-if="fieldErrors.police_requested_at">
                        <ul>
                            <li v-for="error in fieldErrors.police_requested_at">{{ error }}</li>
                        </ul>
                    </p>
                    <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="police_requested_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                </div>

                <div class="form__group" v-if="police_status === 'granted'">
                    <label v-bind:class="{ error: fieldErrors.police_granted_at }">Date d'octroi du CFP :</label>
                    <p class="error" v-if="fieldErrors.police_granted_at">
                        <ul>
                            <li v-for="error in fieldErrors.police_granted_at">{{ error }}</li>
                        </ul>
                    </p>
                    <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="police_granted_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                </div>

                <div class="form__group">
                    <fieldset>
                        <legend v-bind:class="{ error: fieldErrors.bailiff }">Etude d'huissiers :</legend>
                        <p class="error" v-if="fieldErrors.bailiff">
                            <ul>
                                <li v-for="error in fieldErrors.bailiff">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="input__group">
                            <input type="text" v-model="bailiff" />
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="notification error" v-if="error">{{ error }}.</div>

            <div class="form__group">
                <button class="button large" @click="submit">Ajouter le site</button>
            </div>
        </div>
    </section>
</div>