<div>
    <NavBar></NavBar>

    <div class="container">
        <Form v-bind="formDefinition" v-model="data" @complete="onComplete" @stepcomplete="onStepComplete" ref="form"></Form>
    </div>
</div>