<section class="map">
    <Address :placeholder="placeholder" v-model="address" v-if="displaySearchbar"></Address>

    <div id="map">
        <div ref="adressToggler" class="leaflet-address-toggler">
            <input type="checkbox" v-model="showAddresses" /> Voir les adresses des sites
        </div>

        <div ref="legends" class="leaflet-legend">
            <h1>Légende</h1>
            <p v-for="fieldType in fieldTypes">
                <span v-bind:style="{ 'background-color': fieldType.color }"></span> {{ fieldType.label }}
            </p>
        </div>
    </div>
</section>