$ENDEAVOUR_BLUE: #0053B3;
$NILE_BLUE:#182B51;
$EASTERN_BLUE: #16919F;
$REGENT_GRAY: #8393A7;
$RED: #d63626;
$BLACK: #000000;
$WHITE: #FFFFFF;
$EBONY_CLAY: #26353F;
$LIGHT_GREY: #C9D3DF;
$MYSTIC: #EBEFF3;
$LIGTHER_GREY: #ADB9C9;
$SERENADE: #FFF0E4;
$PATTENS_BLUE: #DCF3FF;