<div>
    <NavBar></NavBar>
    <ActivationLinkModal v-if="activationLink" @close="onModalClose" :link="activationLink"></ActivationLinkModal>

    <Form v-bind="formDefinition" @complete="onComplete"></Form>
</div>