.explorer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .side-pane {
        padding-left: 0;

        > h4 {
            margin-top: 0;
            line-height: 38px;
        }
    }

    .main-pane {
        padding-left: 0;
        padding-right: 0;
    }

    .side-pane,
    .main-pane {
        padding-top: 0;
    }
}

.explorer-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    h4 {
        margin: 0;
        line-height: 38px;
    }

    h6 {
        margin: 0 20px 0 0;
        display: inline-block;
    }

    margin-bottom: 30px;
}

@media (min-width: 1000px) {
    .side-pane {
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0 0 15rem;
    }
}