.grid-template {
    grid-template-columns: minmax(300px, auto) 250px 125px 165px;
}

.grid-template-secondary {
    grid-template-columns: minmax(300px, auto) 250px 125px 149px;
}

.grid-template-tertiary {
    grid-template-columns: minmax(300px, auto) 250px 125px 133px;
}