<div class="page--withMargin">
    <NavBar></NavBar>
    
    <section class="section section-white">
        <div class="container">
            <div v-if="!status || status === 'loading'">
                <!-- LOADING STATE -->
                <div class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>
            </div>

            <div v-else-if="status === 'loadingError'">
                <!-- ERROR STATE -->
                <div class="notification error full-width">
                    <span>{{ error }}. <span @click="load">Réessayer ?</span></span>
                </div>
            </div>

            <div v-else>
                <div ref="header">
                    <h1>Fiche de dispositif</h1>
                    <p>Cette fiche dispositif présente les caractéristiques générales du dispositif (telles que déclarées lors du remplissage du formulaire). Elle permet aussi de renseigner des indicateurs de suivi des actions menées, soit site par site lorsque l'action est déployée sur un ou plusieurs bidonvilles, soit à l'échelle globale du dispositif.</p>
                    
                    <div class="town-actionButtons">
                        <button v-if="mode !== 'edit' && currentTab !== 'main' && hasPermission('plan.update')" @click="setMode('edit')" class="button secondary">Modifier les indicateurs</button>
                        <button v-if="mode === 'edit'" @click="submit()" class="button">Sauvegarder</button>
                        <button v-if="mode === 'edit'" @click="setMode('read')" class="button warning">Annuler</button>
                        <button v-if="hasPermission('plan.delete')" @click="destroy" class="button warning">Supprimer le dispositif</button>
                    </div>
                </div>

                <div class="dashboard">
                    <aside class="side-menu">
                        <ul>
                            <li><a v-bind:class="{ active: currentTab === 'main' }" @click="showTab('main')">Caractéristiques du dispositif</a></li>
                            <li v-for="detail in details"><a v-bind:class="{ active: currentTab === detail.id }" @click="showTab(detail.id)">{{ detail.label }}</a></li>
                        </ul>
                    </aside>

                    <div class="main">
                        <div v-if="currentTab === 'main'">
                            <div class="panel">
                                <div class="panel__header">
                                    <h3>1. Caractéristiques générales</h3>
                                </div>
                                <div class="form__group">
                                    <p v-if="plan.name">
                                        <strong>Nom du dispositif :</strong> {{ plan.name }}
                                    </p>
                                    <p>
                                        <strong>Type de dispositif :</strong> {{ plan.type.label }}
                                    </p>
                                    <p>
                                        <strong>Dispositif démarré le :</strong> {{ formatDate(plan.startedAt) }}
                                    </p>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel__header">
                                    <h3>2. Opérateur en charge</h3>
                                </div>
                                <div class="form__group">
                                    <p>
                                        <strong>Nom de l'opérateur :</strong> {{ plan.ngo.name }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div v-else>
                            <div class="panel">
                                <div class="panel__header">
                                    <h3>1. Indicateurs de suivi pour 2019</h3>
                                </div>
                                <div class="form__group">
                                    <p v-for="field in customFields">
                                        <strong>{{ field.label }} :</strong>
                                        <span v-if="mode === 'read'">{{ numericValue(field.value) }}</span>
                                        <span v-if="mode === 'edit'">
                                            <input type="number" v-model="form.data[field.id]" :disabled="form.pending" />
                                        </span>
                                    </p>
                                </div>

                                <div class="notification error" v-if="form.error">{{ form.error }}.</div>

                                <div class="form__group" v-if="mode === 'edit'">
                                    <button class="button large" @click="submit" :disabled="form.pending">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>