<div v-bind:class="{ active }">
    <div class="shadow"></div>

    <simplebar class="quickview" ref="quickviewPanel" data-simplebar-auto-hide="false">
        <header class="quickview-header" v-if="town">
            <div class="quickview-actions">
                <button type="button" class="actionButton" @click="showTown">Voir le site</button>
                <a href="#" @click="$emit('outside-click')"><svg class="icon icon-cross"><use xlink:href="#round-cross"></use></svg></a>
            </div>
            <h1 class="quickview-title"><a @click="showTown">{{ town.address.split(/[0-9]{5}/)[0].replace(/[0-9]/g, '').replace(/,/g, ' ').replace(/\s{2,}/g, ' ') }}</a></h1>
            <h2 class="quickview-subtitle">Site de {{ town.city.name }}</h2>
            <h2 class="quickview-name" v-if="town.name">{{ town.name }}</h2>
            <h2 v-if="town.updatedAt !== undefined" class="quickview-time">(Dernière modification le <time>{{ formatDate(town.updatedAt) }}</time>)</h2>
        </header>

        <section v-for="(section, index) in sections" v-bind:class="{ even: index % 2 !== 0 }">
            <header><h1>{{ section.title }}</h1></header>
            <table>
                <tbody>
                    <tr v-for="row in section.rows">
                        <th v-if="row.label">{{ row.label }} :</th>
                        <td :colspan="row.label ? 1 : 2">{{ row.value }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </simplebar>
</div>