<div>
    <NavBar></NavBar>
    
    <section class="section section-white">
        <div class="container" v-if="loading || error">
            <div v-if="loading">
                <!-- LOADING STATE -->
                <div class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>
            </div>

            <div v-else-if="error">
                <!-- ERROR STATE -->
                <div class="notification error full-width">
                    <span>{{ error }}. <a href="#" @click="fetchData">Réessayer ?</a></span>
                </div>
            </div>
        </div>

        <div v-else>
            <div class="container">
                <!-- SUCCESS STATE -->
                <header class="town-header">
                    <h1>Site de {{ town.city.name }} <span :class="`label ${town.status}`"><a>{{ status }}</a></span></h1>
                    <h2>Dernière modification le <time>{{ new Date(town.updatedAt * 1000).toLocaleDateString().substr(0, 10) }}</time></h2>
                </header>
            </div>

            <div class="dashboard">
                <aside class="side-menu">
                    <ul>
                        <li><a v-bind:class="{ active: view === 'details' }" @click="setView('details')">Caractéristiques du site</a></li>
                        //- <li><a v-bind:class="{ active: view === 'actions' }" @click="setView('actions')">Actions sur le site</a></li>
                        <li><a v-bind:class="{ active: view === 'comments' }" @click="setView('comments')">Commentaires sur le site</a></li>
                        <li v-if="town.status === 'open' && mode !== 'edit'" class="side-menu-button"><button @click="setEditMode" class="button secondary">Déclarer la fermeture du site</button></li>
                        <li v-if="town.status === 'open' && mode !== 'edit'" class="side-menu-button"><button @click="setEditMode" class="button secondary">Modifier le site</button></li>
                        //- <li v-if="mode !== 'edit'" class="side-menu-button"><button @click="destroy" class="button warning">Supprimer le site</button></li>

                        <li v-if="mode === 'edit'" class="side-menu-button"><button @click="submit" class="button">Sauvegarder</button></li>
                        <li v-if="mode === 'edit'" class="side-menu-button"><button @click="setViewMode" class="button warning">Annuler</button></li>
                    </ul>
                </aside>

                <div class="main">
                    <div class="notification error full-width" v-if="deleteError !== null">
                        <span>{{ deleteError }}</span>
                    </div>

                    <div v-if="view === 'details'">
                        <div v-if="mode === 'view'">
                            <div class="panel">
                                <div class="panel__header">
                                    <h3>1. Situation du site</h3>
                                </div>
                                <div class="form__group">
                                    <p>
                                        <strong>Niveau de priorité du site :</strong> {{ town.priority }}
                                    </p>
                                    <p>
                                        <strong>Date d'installation du site :</strong> {{ town.builtAt !== null ? new Date(town.builtAt * 1000).toLocaleDateString().substr(0, 10) : 'Inconnue' }}
                                    </p>
                                    <p v-if="town.status !== 'open'">
                                        <strong>Date de fermeture du site :</strong> {{ town.closedAt !== null ? new Date(town.closedAt * 1000).toLocaleDateString().substr(0, 10) : 'Inconnue'}}
                                    </p>
                                    <p v-if="town.status !== 'open'">
                                        <strong>Cause de la fermeture :</strong> {{ town.status === 'gone' ? 'Disparition' : (town.status === 'expelled' ? 'Expulsé' : 'Résorbé' ) }}
                                    </p>
                                    <p>
                                        <strong>Procédure judiciaire en cours :</strong> {{ town.justiceStatus !== null ? (town.justiceStatus === true ? 'oui' : 'non') : 'Inconnu' }}
                                    </p>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel__header">
                                    <h3>2. Localisation</h3>
                                </div>
                                <div class="form__group">
                                    <p>
                                        <strong>Adresse :</strong> {{ town.address }}
                                    </p>
                                    <p v-if="town.addressDetails">
                                        <strong>Informations d'accès :</strong> {{ town.addressDetails }}
                                    </p>
                                    <Map :show-address="false" :track-position="false" :towns="[ town ]" :default-view="center"></Map>
                                    <p>
                                        <strong>Type de site :</strong> {{ town.fieldType.label }}
                                    </p>
                                    <p>
                                        <strong>Type de propriétaire :</strong> {{ town.ownerType.label }}
                                    </p>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel__header">
                                    <h3>3. Démographie</h3>
                                </div>
                                <div class="form__group">
                                    <p>
                                        <strong>Nombre de personnes :</strong> {{ town.populationTotal !== null ? town.populationTotal : 'inconnu' }}
                                    </p>
                                    <p>
                                        <strong>Nombre de ménages :</strong> {{ town.populationCouples !== null ? town.populationCouples : 'inconnu' }}
                                    </p>
                                    <p>
                                        <strong>Nombre de mineurs :</strong> {{ town.populationMinors !== null ? town.populationMinors : 'inconnu' }}
                                    </p>
                                    <p>
                                        <strong>Origines :</strong>
                                        <ul v-if="town.socialOrigins.length > 0">
                                            <li v-for="origin in town.socialOrigins">{{ origin.label }}</li>
                                        </ul>
                                        <span v-else>inconnues</span>
                                    </p>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel__header">
                                    <h3>4. Conditions de vie</h3>
                                </div>
                                <div class="form__group">
                                    <p>
                                        <strong>Accès à l'électricité:</strong> {{ town.accessToElectricity !== null ? (town.accessToElectricity ? 'oui' : 'non') : 'inconnu' }}
                                    </p>
                                    <p>
                                        <strong>Accès à l'eau :</strong> {{ town.accessToWater !== null ? (town.accessToWater ? 'oui' : 'non') : 'inconnu' }}
                                    </p>
                                    <p>
                                        <strong>Évacuation des déchets :</strong> {{ town.trashEvacuation !== null ? (town.trashEvacuation ? 'oui' : 'non') : 'inconnu' }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div v-if="mode === 'edit'">
                            <div class="panel">
                                <div class="panel__header">
                                    <h3>1. Situation du site</h3>
                                </div>

                                <div class="form__group">
                                    <label v-bind:class="{ error: fieldErrors.priority }">Niveau de priorité du site :</label>
                                    <p>1 étant le niveau de priorité le plus haut</p>
                                    <p class="error" v-if="fieldErrors.priority">
                                        <ul>
                                            <li v-for="error in fieldErrors.priority">{{ error }}</li>
                                        </ul>
                                    </p>

                                    <select v-model="edit.priority">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>

                                <div class="form__group">
                                    <label v-bind:class="{ error: fieldErrors.built_at }">Date d'installation du site :</label>
                                    <p class="error" v-if="fieldErrors.built_at">
                                        <ul>
                                            <li v-for="error in fieldErrors.built_at">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" :full-month-name="true" :format="'dd MMMM yyyy'" v-model="edit.builtAt"></datepicker>
                                </div>

                                <div class="form__group">
                                    <label v-bind:class="{ error: fieldErrors.closed_at }">Date de fermeture du site :</label>
                                    <p class="error" v-if="fieldErrors.closed_at">
                                        <ul>
                                            <li v-for="error in fieldErrors.closed_at">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <datepicker :clear-button="true" :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" :full-month-name="true" :format="'dd MMMM yyyy'" v-model="edit.closedAt"></datepicker>
                                </div>

                                <div class="form__group" v-if="edit.closedAt !== null">
                                    <fieldset>
                                        <legend v-bind:class="{ error: fieldErrors.status }">Cause de la fermeture :</legend>
                                        <p class="error" v-if="fieldErrors.status">
                                            <ul>
                                                <li v-for="error in fieldErrors.status">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <div v-for="(value, index) in statusValues">
                                            <input type="radio" name="status" :id="'status' + index" :value="value.value" v-model="edit.status">
                                            <label :for="'status' + index" class="label-inline">{{ value.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="form__group">
                                    <fieldset>
                                        <legend v-bind:class="{ error: fieldErrors.justice_status }">Procédure judiciaire en cours :</legend>
                                        <p class="error" v-if="fieldErrors.justice_status">
                                            <ul>
                                                <li v-for="error in fieldErrors.justice_status">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <div v-for="(value, index) in yesnoValues">
                                            <input type="radio" name="justiceStatus" :id="'justiceStatus' + index" :value="value.value" v-model="edit.justiceStatus">
                                            <label :for="'justiceStatus' + index" class="label-inline">{{ value.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel__header">
                                    <h3>2. Localisation</h3>
                                </div>
                                <div class="form__group">
                                    <label v-bind:class="{ error: fieldErrors.address }">Localisation géographique</label>
                                    <p class="error" v-if="fieldErrors.address">
                                        <ul>
                                            <li v-for="error in fieldErrors.address">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <p>Saisissez ici l'adresse du site, puis précisez sa position en déplaçant le point sur la carte.</p>
                                    <Map placeholder="Saisissez ici l'adresse du site" :track-position="true" v-model="edit.address"></Map>
                                </div>

                                <div class="form__group">
                                    <label>Informations d'accès :</label>
                                    <p>Saisissez ici toutes les informations qui, en plus de l'adresse, peuvent être utiles pour l'accès au site :</p>
                                    <div class="input__group">
                                        <input type="text" v-model="edit.detailedAddress">
                                    </div>
                                </div>

                                <div class="form__group">
                                    <fieldset>
                                        <legend v-bind:class="{ error: fieldErrors.field_type }">Type de site :</legend>
                                        <p class="error" v-if="fieldErrors.field_type">
                                            <ul>
                                                <li v-for="error in fieldErrors.field_type">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <div v-for="(type, index) in fieldTypes">
                                            <input type="radio" :id="'fieldType' + index" :value="type.id" v-model="edit.fieldType">
                                            <label :for="'fieldType' + index" class="label-inline">{{ type.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="form__group">
                                    <fieldset>
                                        <legend v-bind:class="{ error: fieldErrors.owner_type }">Type de propriétaire :</legend>
                                        <p class="error" v-if="fieldErrors.owner_type">
                                            <ul>
                                                <li v-for="error in fieldErrors.owner_type">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <div v-for="(type, index) in ownerTypes">
                                            <input type="radio" :id="'ownerType' + index" :value="type.id" v-model="edit.ownerType">
                                            <label :for="'ownerType' + index" class="label-inline">{{ type.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel__header">
                                    <h3>3. Démographie</h3>
                                </div>

                                <div class="form__group">
                                    <label v-bind:class="{ error: fieldErrors.population_total }">Nombre de personnes :</label>
                                    <p class="error" v-if="fieldErrors.population_total">
                                        <ul>
                                            <li v-for="error in fieldErrors.population_total">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <p>Laissez ce champ vide si l'information est inconnue</p>
                                    <div class="input__group">
                                        <input type="number" v-model="edit.populationTotal">
                                    </div>
                                </div>

                                <div class="form__group">
                                    <label v-bind:class="{ error: fieldErrors.population_couples }">Nombre de ménages :</label>
                                    <p class="error" v-if="fieldErrors.population_couples">
                                        <ul>
                                            <li v-for="error in fieldErrors.population_couples">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <p>Laissez ce champ vide si l'information est inconnue</p>
                                    <div class="input__group">
                                        <input type="number" v-model="edit.populationCouples">
                                    </div>
                                </div>

                                <div class="form__group">
                                    <label v-bind:class="{ error: fieldErrors.population_minors }">Nombre de mineurs :</label>
                                    <p class="error" v-if="fieldErrors.population_minors">
                                        <ul>
                                            <li v-for="error in fieldErrors.population_minors">{{ error }}</li>
                                        </ul>
                                    </p>
                                    <p>Laissez ce champ vide si l'information est inconnue</p>
                                    <div class="input__group">
                                        <input type="number" v-model="edit.populationMinors">
                                    </div>
                                </div>

                                <div class="form__group">
                                    <fieldset>
                                        <legend>Origines :</legend>
                                        <p>Ne rien cocher si l'information est inconnue</p>
                                        <div v-for="(origin, index) in socialOrigins">
                                            <input type="checkbox" :id="'socialOrigins' + index" :value="origin.id" v-model="edit.origins">
                                            <label :for="'socialOrigins' + index" class="label-inline">{{ origin.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel__header">
                                    <h3>4. Conditions de vie</h3>
                                </div>

                                <div class="form__group">
                                    <fieldset>
                                        <legend v-bind:class="{ error: fieldErrors.access_to_electricity }">Accès à l'électricité :</legend>
                                        <p class="error" v-if="fieldErrors.access_to_electricity">
                                            <ul>
                                                <li v-for="error in fieldErrors.access_to_electricity">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <div v-for="(value, index) in yesnoValues">
                                            <input type="radio" name="accessToElectricity" :id="'accessToElectricity' + index" :value="value.value" v-model="edit.accessToElectricity">
                                            <label :for="'accessToElectricity' + index" class="label-inline">{{ value.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="form__group">
                                    <fieldset>
                                        <legend v-bind:class="{ error: fieldErrors.access_to_water }">Accès à l'eau :</legend>
                                        <p class="error" v-if="fieldErrors.access_to_water">
                                            <ul>
                                                <li v-for="error in fieldErrors.access_to_water">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <div v-for="(value, index) in yesnoValues">
                                            <input type="radio" name="accessToWater" :id="'accessToWater' + index" :value="value.value" v-model="edit.accessToWater">
                                            <label :for="'accessToWater' + index" class="label-inline">{{ value.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="form__group">
                                    <fieldset>
                                        <legend v-bind:class="{ error: fieldErrors.trash_evacuation }">Évacuation des déchets :</legend>
                                        <p class="error" v-if="fieldErrors.trash_evacuation">
                                            <ul>
                                                <li v-for="error in fieldErrors.trash_evacuation">{{ error }}</li>
                                            </ul>
                                        </p>
                                        <div v-for="(value, index) in yesnoValues">
                                            <input type="radio" name="trashEvacuation" :id="'trashEvacuation' + index" :value="value.value" v-model="edit.trashEvacuation">
                                            <label :for="'trashEvacuation' + index" class="label-inline">{{ value.label }}</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="notification error" v-if="editError">{{ editError }}.</div>

                            <div class="form__group">
                                <button class="button large" @click="submit">Sauvegarder</button>
                            </div>
                        </div>
                    </div>

                    <!-- actions -->
                    <div v-else-if="view === 'actions'">
                        <div class="panel" v-for="action in town.actions">
                            <div class="panel__header">
                                <h3><router-link :to="'/action/' + action.id">{{ action.name }}</router-link> - <small class="panel__header-extra">Débutée le {{ new Date(action.startedAt * 1000).toLocaleDateString().substr(0, 10) }}</small></h3>
                            </div>
                            <p><strong>Type de l'action :</strong> {{ action.type }}</p>
                            <p><strong>Détails de l'action :</strong></p>
                            <p>{{ action.description || 'Aucun détails fournis' }}</p>
                        </div>
                    </div>

                    <!-- comments -->
                    <div v-else-if="view === 'comments'">
                        <div class="form__group">
                            <p v-if="town.comments.length === 0">Aucun commentaire enregistré pour le moment</p>
                            <p v-for="comment in town.comments"><strong>Le {{ new Date(comment.createdAt * 1000).toLocaleDateString().substr(0, 10) }} :</strong><br/>{{ comment.description }}</p>
                        </div>

                        <div class="form__group">
                            <div class="notification error" v-if="commentError">{{ commentError }}.</div>
        
                            <label v-bind:class="{ error: commentErrors.description }">Ajouter un commentaire :</label>
                            <p class="error" v-if="commentErrors.description">
                                <ul>
                                    <li v-for="error in commentErrors.description">{{ error }}</li>
                                </ul>
                            </p>
                            <div class="input__group">
                                <textarea v-model="newComment"></textarea>
                            </div>
                            <div class="input__group">
                                <button class="button large" @click="addComment">Ajouter le commentaire</button>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>