@import '/css/config/colors.scss';

.town-wrapper {
    margin-top: 10px;
}

.town-header {
    .container {
        padding-top: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.town-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.town-actionButtons {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;

    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;

    > button {
        display: block;
        margin-bottom: 8px;
    }
}

@media (min-width: 1200px) {
    .town-actionButtons {
        > button {
            display: inline-block;
            margin-bottom: 0;
        }
    }
}

.town-reference {
    color: #26353F;
    font-weight: bold;
}

.town-reference > h1,
.town-reference > h2 {
    margin: 0;
    padding: 0;
}

.town-reference > h1 {
    font-size: 28px;
    letter-spacing: -0.05em;
}

.town-reference > h2 {
    font-size: 18px;
}

.town-reference > p {
    margin: 8px 0 10px;
    padding: 0;

    > span {
        margin-right: 15px;
    }
}

.town-status {
    padding: 2px 10px;
    font-weight: normal;
    vertical-align: middle;
    font-size: 0.5em;
    background: #efaca6;
    letter-spacing: 0;
    border-radius: 3px;

    &.open {
        background: #daf5e7;
    }
}

.town-links {
    display: inline-block;
    margin-right: 15px;
    color: $ENDEAVOUR_BLUE;
    font-weight: bold;
}

.town-main {
    position: relative;
    padding-top: 35px;
    background: #EBEFF3;
    padding-bottom: 100px;
    overflow: hidden;
}

.panel .form__group > label,
.panel .form__group fieldset > legend {
    font-weight: bold;
}

.vdp-datepicker input {
    max-width: 300px;
}

.panel input[type="number"] {
    max-width: 100px;
}

legend.error {
    font-weight: bold;
    color: #d63626;
}

p.error {
    margin-top: 0;

    & > ul {
        margin-top: 0;
        padding-left: 20px;
        color: #d63626;
    }
}

.side-menu {
    min-width: 220px;
    max-width: 220px;

    > ul {
        position: fixed;
        width: 220px;

        > li.side-menu-button {
            margin-top: 20px;
            text-align: center;

            > .button {
                width: 85%;
            }
        }
    }
}

.solution-people {
    margin-left: 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s linear;
    -webkit-transition: max-height 0.2s linear;

    input {
        max-width: 100px;
    }

    &.visible {
        max-height: 200px;
        margin-bottom: 30px;
    }
}

fieldset {
    flex-wrap: wrap;
}

.userpost--comment {
    margin: 10px 0 0;
    padding: 0;
}

.comment-form {
    h1 {
        font-size: 1rem;
    }

    p {
        margin: 0;
    }

    textarea {
        margin-top: 15px;
        min-height: 100px;
    }

    .button {
        margin: 0;
        display: inline-block;
        width: 100%;
    }
}

.sticky {
    .town-header {
        z-index: 3000;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        background: white;
    }

    .town-main {
        padding-top: 174px;
    }
}

.sidepanel {
    .userpost--changelog {
        .userpost-header {
            margin-bottom: 15px;
        }
    }

    .changelog {
        padding-top: 7px;
        margin: 0 0 7px;
        border-top: 1px dotted $REGENT_GRAY;
    }
}