**/.DS_Store
**/.git*
.husky
.vscode
**/node_modules
**/LICENSE
**/README.md
**/.env*
**/Dockerfile
**/jsconfig.json
**/*.txt
**/*.sample
**/.nuxt
**/.output
**/.cache
**/dist
!packages/api/server/mails/dist
**/.editorconfig
.yarn/*
!.yarn/cache
!.yarn/plugins
!.yarn/releases