**/.DS_Store
**/.git*
.husky
.vscode
**/node_modules
**/LICENSE
**/README.md
**/.env*
**/Dockerfile
**/jsconfig.json
**/*.txt
**/*.sample
**/.nuxt
**/.output
**/.cache
**/dist
!packages/api/server/mails/dist
**/.editorconfig
# .yarn/*
# Ignore seulement le cache et les fichiers temporaires de .yarn
.yarn/cache/*
.yarn/unplugged/*
.yarn/build-state.yml
.yarn/install-state.gz