{
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/airbnb"
  ],
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "import/no-extraneous-dependencies": 1,
    "prefer-promise-reject-errors": 0,
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "#"
        ]
      }
    ],
    "max-len": "off",
    "no-param-reassign": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "App": "readonly"
  },
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
