{
    "extends": [
        "airbnb-base",
        "plugin:vue/recommended"
    ],
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "import/no-extraneous-dependencies": 0,
        "prefer-promise-reject-errors": 0,
        "import/no-unresolved": [
            "error",
            {
                "ignore": [
                    "#"
                ]
            }
        ],
        "max-len": "off",
        "no-param-reassign": "warn",
        "import/extensions": [
            "error",
            "never",
            {
                "vue": "always"
            }
        ]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "App": "readonly"
    },
    "overrides": [
        {
            "files": [ "**/*.vue"],
            "rules": {
                "import/extensions": [
                    "error",
                    "never",
                    {
                        // For an unkown reason, import js in vue file without extension doesnt work
                        // Probably an issue with parcel
                        "js": "always",
                        "vue": "always"
                    }
                ]
            }
        }
    ]
}