{
    "extends": "airbnb-base",
    "rules": {
        "indent": [ "error", 4 ],
        "import/no-extraneous-dependencies": false,
        "prefer-promise-reject-errors": 0,
        "import/no-unresolved": [
            "error",
            { "ignore": ["#"] }
        ]
    },
    "env": {
        "browser": true
    }
}