@import '/css/config/colors.scss';

.table {
    .planFunding-addRow {
        text-align: center;
        cursor: pointer;
        background-color: $ENDEAVOUR_BLUE;
        color: white;

        &:hover {
            background: #003b80;
        }
    }

    .planFunding-addRow--disabled,
    .planFunding-addRow--disabled:hover {
        cursor: default;
        background-color: rgb(0, 83, 179, 0.3);
    }
}

.planFunding-type {
    min-width: 200px;
}

.planFunding-amount {
    min-width: 150px;
}

.planFunding-details {
    width: 99%;
}