<section>
    <Address placeholder="Centrez la carte sur un point précis en tapant ici le nom d'une commune, département, région, ..." @selected="onNewAddress" autofocus="true"></Address>
    <div id="map"></div>
</section>