<div class="v1">
    <div class="page--withMargin">
        <NavBar></NavBar>

        <section class="section section-white">
            <div class="container container--userValidation">
                //- state: loading in progress
                <div v-if="state === 'loading'" class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>

                //- state: loading failed
                <div v-if="state === 'error'" class="notification error full-width">
                    <span>{{ error }}. <a href="#" @click="retryLoading">Réessayer ?</a></span>
                </div>

                //- state: loaded
                <section class="userValidation" v-if="state === 'loaded'">
                    <h1 v-if="user && user.status !== 'active'">Demande d'accès</h1>
                    <h1 v-else-if="user">Fiche utilisateur</h1>

                    <div class="userValidation-main" >
                        <aside class="userInfo">
                            <section class="userInfo-section">
                                <hgroup>
                                    <h1>{{ user.last_name.toUpperCase() }} {{ user.first_name }}</h1>
                                    <h3>Structure</h3>
                                    <h2>{{ user.organization.name }}</h2>
                                </hgroup>

                                <p>{{ user.position }}<br/><span class="email">{{ user.email }}</span></p>
                            </section>

                            <section class="userInfo-section">
                                <p class="userHistory-item" v-if="isExpired"><span><font-awesome-icon class="user-statusIcon" icon="unlink"></font-awesome-icon> <strong>Lien expiré</strong> le {{ formatDate(user.activation_link_expires_on, 'd M y') }}</span><br/>Un lien d'activation est valable {{ tokenExpiresIn }} jours<br/></p>
                                <p class="userHistory-item" v-if="user.last_activation_link_sent_on"><span><font-awesome-icon class="user-statusIcon" icon="paper-plane"></font-awesome-icon> <strong>Accès envoyé</strong> le {{ formatDate(user.last_activation_link_sent_on, 'd M y') }}</span><br/></p>
                                <p class="userHistory-item"><span><font-awesome-icon class="user-statusIcon user-statusIcon--flag" icon="flag"></font-awesome-icon> <strong>Demandé</strong> le {{ formatDate(user.created_at, 'd M y') }}</span></p>
                            </section>

                            <section class="userInfo-section" v-html="(user.access_request_message || '').replace('\n','<br/>')"></section>
                        </aside>

                        <main class="userPermissions">
                            <hgroup class="userPermissions-header">
                                <h1>Accès</h1>
                                <h2 class="role">{{ user.role }}</h2>
                            </hgroup>

                            <p>{{ permission.description }}<br/>&nbsp;</p>
                            <p>Ainsi, l'utilisateur peut :</p>

                            <UserPermissions v-if="hasPermissionsFor('national')" title="À l'échelle nationale" :items="permission.national_permissions"></UserPermissions>
                            <UserPermissions v-if="hasPermissionsFor('local')" title="Sur le territoire d'intervention" :items="permission.local_permissions"></UserPermissions>

                            <div v-if="options.length > 0">
                                <h1 class="userPermissions-sectionTitle">Options</h1>
                                <p v-if="!user.organization.active">Pour cette structure, je souhaite :</p>
                                <ul class="userOptionsList">
                                    <li v-for="(option, optionIndex) in options">
                                        <input type="checkbox" :id="`option-${optionIndex}`" :value="option.id" v-model="checkedOptions[option.id]" :disabled="user.organization.active" />
                                        <label :for="`option-${optionIndex}`" class="label-inline">{{ option.label }}</label>
                                    </li>
                                </ul>
                            </div>
                        </main>
                    </div>

                    <div class="userValidation-error notification error" v-if="validation.error">{{ validation.error }}</div>

                    <footer class="userValidationFooter">
                        <p class="userValidationFooter-remove" v-if="user.status === 'active'">
                            <span @click="remove" v-if="validation.state !== 'loading'">Supprimer l'accès</span>
                        </p>
                        <p class="userValidationFooter-deny" v-if="user.status === 'new' && !user.last_activation_link_sent_on">
                            <span @click="deny" v-if="validation.state !== 'loading'">Refuser l'accès</span>
                        </p>
                        <p class="userValidationFooter-allow" v-if="user.status === 'new'">
                            <button class="button" @click="validate" :disabled="validation.state === 'loading'" :readonly="validation.state === 'loading'">
                                <img  v-if="validation.state === 'loading'" src="/img/spinner_light.svg" width="20" />
                                <span v-else>Envoyer un accès</span>
                            </button>
                            <br/>
                            <span>L'utilisateur va recevoir<br/>un mail avec un lien d'activation</span>
                        </p>
                    </footer>
                </section>
            </div>
        </section>
    </div>
</div>
