.planFunding-footer {
    text-align: right;
    margin-top: 20px;
}

.planFunding-amount {
    min-width: 130px;
}

.planFunding-details {
    width: 60%;
}

.planFunding-removeIcon {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #F03A47;
    border-radius: 50%; 
    text-align: center;

    > img {
        margin-top: 3px;
        width: 14px;
        height: 14px;
    }

    &.disabled {
        cursor: initial;
        background: rgba(240, 58, 71, 0.3);
    }
}