<div class="panel">
    <div class="form__group">
        <label for="email" v-bind:class="{ error: errors.email }">Email :</label>
        <p class="error" v-if="errors.email">
            <ul>
                <li v-for="error in errors.email">{{ error }}</li>
            </ul>
        </p>
        <input type="email" id="email" v-model.lazy.trim="input.email" :disabled="disabled" :readonly="disabled">
    </div>

    <div class="form__group">
        <label for="firstName" v-bind:class="{ error: errors.firstName }">Prénom :</label>
        <p class="error" v-if="errors.firstName">
            <ul>
                <li v-for="error in errors.firstName">{{ error }}</li>
            </ul>
        </p>
        <input type="text" id="firstName" v-model.lazy.trim="input.firstName" :disabled="disabled" :readonly="disabled">
    </div>

    <div class="form__group">
        <label for="lastName" v-bind:class="{ error: errors.lastName }">Nom de famille :</label>
        <p class="error" v-if="errors.lastName">
            <ul>
                <li v-for="error in errors.lastName">{{ error }}</li>
            </ul>
        </p>
        <input type="text" id="lastName" v-model.lazy.trim="input.lastName" :disabled="disabled" :readonly="disabled">
    </div>

    <div class="form__group">
        <label for="departement" v-bind:class="{ error: errors.departement }">Département :</label>
        <p class="error" v-if="errors.departement">
            <ul>
                <li v-for="error in errors.departement">{{ error }}</li>
            </ul>
        </p>
        <select id="departement" v-model="input.departement" :disabled="disabled">
            <option v-for="departement in departements" :value="departement.code">{{ departement.code + ' - ' + departement.name }}</option>
        </select>
    </div>
</div>