<div class="page page--withMargin">
    <NavBar></NavBar>

    <section class="section section-white">
        <div class="container">
            <header class="page-header">
                <hgroup class="page-titleContainer">
                    <slot name="title"></slot>
                </hgroup>

                <div v-if="loading.status === 'loaded'" class="page-buttons">
                    <slot name="buttons"></slot>
                </div>
            </header>

            //- loading in progress
            <div v-if="loading.status === 'loading' && loading.isSlow" class="notification notification--loading full-width">
                <p class="notification-icon"><img src="/img/spinner_dark.svg" /></p>
                <p class="notification-content">
                    <span class="notification-title">Chargement des données en cours</span>
                </p>
            </div>

            //- loading failed
            <div v-if="loading.status === 'failed'" class="notification notification--failure error full-width">
                <p class="notification-icon"><font-awesome-icon icon="times" size="2x"></font-awesome-icon></p>
                <p class="notification-content">
                    <span class="notification-title">Le chargement des données a échoué</span><br/>
                    <span class="notification-description">{{ loading.error }}</span>
                </p>
            </div>

            //- loaded
            <slot v-if="loading.status === 'loaded'" v-bind:data="data" name="content"></slot>
        </div>
    </section>
</div>