<div class="v1">
    <NavBar></NavBar>

    <section class="section section-white">
        <div class="container">
            <Changelog :log="changelog" :error="error" @done="markChangelogAsRead"></Changelog>
        </div>
    </section>
</div>
