<header class="navbar" role="navigation">
    <div class="navbar__container">
        <router-link to="/" class="navbar__home">
            <img src="/img/logo-marianne.svg" class="navbar__logo" alt="action-bidonvilles.beta.gouv.fr" id="logo" /><span class="navbar__domain" >action-bidonvilles.</span><img src="/img/betagouvfr.svg" class="navbar__gouvfr" alt="beta.gouv.fr" id="betagouv" />
        </router-link>

        <nav>
            <ul class="nav__links">
                <li class="nav__item"><router-link to="/connexion">Connexion</a></li>
            </ul>
            <ul class="nav__links">
                <li class="nav__item"><router-link to="/demande-d-acces">Demander un accès</a></li>
            </ul>
        </nav>
    </div>
</header>