<div>
    <Quickview :town="quickview.town" :origin="quickview.originEvent" @outside-click="hideQuickview"></Quickview>
    <NavBar></NavBar>

    <section class="explorer">
        //- <h1>Liste des sites</h1>

        //- notifications
        <div v-if="loading" class="notification full-width">
            <img src="/img/spinner_dark.svg" width="20" class="spinner" />
            <span>Chargement des données en cours...</span>
        </div>

        <div v-if="error" class="notification error full-width">
            <span>{{ error }}. <a href="#" @click="fetchData">Réessayer ?</a></span>
        </div>

        //- filters
        <simplebar class="filters" ref="filters" data-simplebar-auto-hide="false">
            <div class="filterGroup">
                <aside><img src="/img/people.svg" width="50" alt="" /></aside>
                <main>
                    <h1>Résultats sous forme de</h1>
                    <div v-for="(option, index) in viewTypes">
                        <input v-model="currentTab" type="radio" :id="'viewType-' + index" name="viewTypes" :value="option.value">
                        <label :for="'viewType-' + index" class="label-inline">{{ option.label }}</label><br/>
                    </div>
                </main>
            </div>

            <FilterGroup v-for="filterGroup in filters" :id="filterGroup.id" :icon="filterGroup.icon" :label="filterGroup.label" :options="filterGroup.options" :opened="filterGroup.opened"></FilterGroup>
        </simplebar>

        //- content
        <div class="content" ref="main">
            <keep-alive>
                <component :is="currentTabComponent" v-bind="rendererProps" @town-click="showQuickview" @on-row-click="routeToTown" ref="map"></component>
            </keep-alive>
        </div>
    </section>
</div>