.explorer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .filters {
        z-index: 5000;
        width: 280px;
        color: white;
        background: #182B51;
        box-shadow: -2px 9px 5px 5px rgba(0,0,0,0.5);
    }

    .content {
        position: relative;
        width: 200px;
        flex-grow: 1;
        overflow: auto;

        .map {
            position: absolute;
            width: 100%;
            height: 100%;

            #map {
                height: 100%;
            }

            .search__group {
                z-index: 1000;
                left: 15px;
                top: 11px;
                right: 150px;
                position: absolute;
            }
        }

        .table {
            > tbody {
                tr {
                    cursor: pointer;
                }
            }
        }
    }
}
