.landing__marianne {
    width: auto;
    height: 40px;
    margin-left: 30px;
}

.landing__logo {
    width: auto;
    height: 80px;
    vertical-align: bottom;
}

.navbar {
    padding-top: 15px;
}

.navbar__container {
    -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav__item {
    vertical-align: middle;

    .button {
        margin-left: 20px;

        &:not(.secondary):hover {
            background: #003b80;
        }
    }
}

.hero {
    background: url('/img/landing/hero01.jpg') no-repeat center;
    background-size: cover;
    background-position: center 40%;
}

.hero:first-of-type {
    margin-top: 0;
}

.hero-second {
    background-image: url('/img/landing/hero02.jpg');
    background-position: center 20%;
    background-size: cover;
}

.hero-third {
    background-image: url('/img/landing/hero03.jpg');
    background-position: center 20%;
    background-size: cover;
}

.hero__white-background {
    padding: 10px 1em;
    background: white;
}

.hero__container p {
    margin-top: 80px;
    text-align: center;
}

.blue-medium {
    color: #0053b3;
}

.figures {
    display: flex;
}

.figures-block {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-basis: 0;
    -webkit-flex-basis: 0;

    h1,
    h2,
    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 3em;
    }
}

.container-large {
    max-width: 1080px;
}

.landing__title {
    margin-bottom: 0;
}

.landing__subtitle {
    margin-top: 0;
}

.section {
    padding-bottom: 30px;
}

.section-color,
.section-grey {
    margin-top: 0;
    padding-top: 40px;
}

.list__arrow {
    margin: 0;
    padding: 0;
    list-style-image: url('/img/arrow_right.svg');
}

h4 {
    margin-bottom: 0;
}

.grid {
    margin-top: 40px;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.tile_icon {
    margin-bottom: 20px;
    width: auto;
    height: 60px;
    color: #006be6;
}


.split {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;

    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.split-left {
    width: 400px;
    padding-right: 50px;
}

.split-right {
    flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
}

.text-center {
    text-align: center;
}

.contact {
    .svg-inline--fa {
        width: auto;
        height: 30px;
    }

    a {
        text-decoration: underline;
    }
}