<div>
    <svg aria-hidden="true" focusable="false" style="display:none">
        <defs>
            <symbol viewBox="0 0 32 32" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414" id="github" xmlns="http://www.w3.org/2000/svg"><path d="M16 1.371c-8.284 0-15 6.715-15 15 0 6.627 4.298 12.25 10.258 14.233.75.138 1.026-.326 1.026-.722 0-.357-.014-1.54-.021-2.793-4.174.907-5.054-1.77-5.054-1.77-.682-1.733-1.665-2.195-1.665-2.195-1.361-.931.103-.912.103-.912 1.506.106 2.299 1.546 2.299 1.546 1.338 2.293 3.509 1.63 4.365 1.247.134-.969.523-1.631.952-2.006-3.331-.379-6.834-1.666-6.834-7.413 0-1.638.586-2.976 1.546-4.027-.156-.378-.669-1.903.145-3.969 0 0 1.26-.403 4.126 1.537a14.453 14.453 0 0 1 3.755-.505c1.274.006 2.558.173 3.757.505 2.864-1.94 4.121-1.537 4.121-1.537.816 2.066.303 3.591.147 3.969.962 1.05 1.544 2.389 1.544 4.027 0 5.761-3.509 7.029-6.849 7.401.538.466 1.017 1.379 1.017 2.778 0 2.007-.018 3.623-.018 4.117 0 .399.27.867 1.03.72C26.707 28.616 31 22.996 31 16.371c0-8.285-6.716-15-15-15z" fill-rule="nonzero"/></symbol>
        </defs>
    </svg>

    <header class="navbar" role="navigation">
        <div class="navbar__container">
            <div class="navbar__home">
                <img class="landing__marianne" src="/img/logo-marianne.svg" class="topbar-marianne" alt="france" />

                <router-link to="/landing">
                    <img class="landing__logo" src="/img/logo.svg" alt="resorption-bidonvilles.beta.gouv.fr" />
                </router-link>
            </div>

            <nav>
                <ul class="nav__links">
                    <li class="nav__item"><a @click="$router.replace('#top', () => $router.replace('#contexte'));">Contexte</a></li>
                    <li class="nav__item"><a @click="$router.replace('#top', () => $router.replace('#plateforme'));">La plateforme</a></li>
                    <li class="nav__item"><a @click="$router.replace('#top', () => $router.replace('#partenaires'));">Partenaires</a></li>
                    <li class="nav__item"><router-link to="/demande-d-acces" class="button secondary">Demander un accès</router-link></li>
                    <li class="nav__item"><router-link to="/connexion" class="button">Se connecter</router-link></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="hero" role="banner">
        <p class="credits">&copy; Armandine Penna</p>
        <div class="hero__container">
            <h1 class="hero__white-background">Connaître, partager, agir pour résorber les bidonvilles</h1>
            <p>
                <a href="https://www.youtube.com/watch?v=8k5_1Dh0S4Q">
                    <font-awesome-icon icon="play-circle" class="play"></font-awesome-icon>
                    <img src="/img/landing/video.jpg" width="200" alt="Vidéo explicative de la plateforme" />
                </a><br/>
                <a href="https://www.youtube.com/watch?v=8k5_1Dh0S4Q" class="button">Découvrir <em>resorption-bidonvilles</em> en 2 minutes</a>
            </p>
        </div>
    </div>

    <main role="main" id="contexte">
        <section class="section section-white">
            <div class="container container-large">
                <h1 class="blue-medium landing__title">Contexte :</h1>

                <div class="figures blue-medium">
                    <div class="figures-block">
                        <p>Plus de</p>
                        <h1>300</h1>
                        <h2>bidonvilles</h2>
                        <p>en France métropolitaine.</p>
                    </div>
                    <div class="figures-block">
                        <p>Plus de</p>
                        <h1>16 000</h1>
                        <h2>personnes</h2>
                        <p>dont 5 000 mineurs vivent dans ces bidonvilles.</p>
                    </div>
                    <div class="figures-block">
                        <p>Majoritairement</p>
                        <h1>euro-</h1>
                        <h1>péens</h1>
                    </div>
                </div>
            </div>
            <div class="container container-medium">
                <p class="blue-medium"><em>Un bidonville est un lieu – terrain, friche ou immeuble bâti – occupé de façon illégale et continue à des fins d’habitation par plusieurs ménages. Il se caractérise généralement par l’absence de services de base : eau, électricité, gestion des déchets. Un site regroupe en moyenne une cinquantaine de personnes.</em></p>
                <h4>Des bidonvilles en France ?</h4>
                <p>Les bidonvilles en France métropolitaine sont majoritairement occupés par des citoyens de l’Union européenne, principalement de Roumanie et Bulgarie. Ils ont choisi de migrer pour des raisons souvent économiques. Le phénomène, lié à la chute des régimes communistes, apparaît <strong>stable depuis une vingtaine d’années.</strong></p>
            </div>
        </section>
    </main>

    <div class="hero hero-second" role="banner">
        <p class="credits">&copy; Armandine Penna</p>
        <div class="hero__container"></div>
    </div>

    <main role="main">
        <section class="section section-white">
            <div class="container container-medium">
                <h4>La résorption, un changement de modèle</h4>
                <p>Pour résorber ces bidonvilles durablement, la stratégie mise en place par le gouvernement dépasse l’approche centrée sur les évacuations et combine <strong>des actions d’accompagnement social et d’insertion pour les familles.</strong> Ainsi, <a href="https://www.gouvernement.fr/sites/default/files/contenu/piece-jointe/2018/06/circulaire_du_25_janvier_2018.pdf">l’instruction gouvernementale de janvier 2018</a> invite les territoires à engager des actions multi-partenariales efficaces, humaines et pragmatiques.</p>
                <p>Dans le respect des lois de la République, ces actions concernent : l’amélioration des conditions de vie, l’accès au logement, la santé, la scolarisation, l’emploi ainsi que la prévention de la délinquance, la protection de l’enfance et la réinstallation dans le pays d’origine au cas par cas.</p>
            </div>
        </section>
        <section class="section section-grey" id="plateforme">
            <div class="container container-large">
                <h1 class="blue-medium landing__title">La plateforme :</h1>
                <h1 class="landing__subtitle">partage et coordination entres les acteurs pour une meilleure action sur le terrain</h1>
            </div><div class="container container-medium">
                <h4>Pourquoi ?</h4>
                <p>Les actions de résorption des bidonvilles nécessitent l’intervention d’une multiplicité d’acteurs institutionnels et privés. La bonne coordination, le partage d’informations, la qualité du suivi et du pilotage sont ainsi des éléments clés pour la réussite de cette politique. Pourtant, on constate un défaut de connaissance partagée entre tous les acteurs sur la situation des bidonvilles en France et sur les solutions qui fonctionnent.<br/><strong>La plateforme propose de partager et de centraliser l’information pour tous les acteurs de la résorption afin de mieux coordonner leurs actions.</strong></p>
                <h4>Pour qui ?</h4>
                <p>
                    <ul class="list__arrow">
                        <li><strong>Les pilotes de l’action :</strong> préfectures et Directions départementales de la cohésion sociale.</li>
                        <li><strong>Les partenaires institutionnels :</strong> autres services de l’Etat, établissements et organismes publics.</li>
                        <li><strong>Les acteurs de terrain :</strong> opérateurs associatifs, villes engagées dans des actions de résorption des bidonvilles.</li>
                    </ul>
                </p>
            </div><div class="container container-large">
                <div class="grid">
                    <div class="tile">
                        <font-awesome-icon icon="map-marked-alt" class="tile_icon" alt="Santé"></font-awesome-icon>
                        <h3>Connaître et partager un état des lieux précis</h3>
                        <p>Une cartographie des implantations et les caractéristiques des sites (démographie, conditions de vie) pour connaître avant d’agir.</p>
                    </div>
                    <div class="tile">
                        <font-awesome-icon icon="chart-line" class="tile_icon" alt="Écologie"></font-awesome-icon>
                        <h3>Suivre et analyser les actions menées auprès des habitants</h3>
                        <p>Un bilan des avancées et résultats utile pour les échanges entre les pilotes, opérateurs et partenaires de l’action.</p>
                    </div>
                    <div class="tile">
                        <font-awesome-icon icon="comments" class="tile_icon" alt="Emplois"></font-awesome-icon>
                        <h3>Faciliter les échanges entre les parties prenantes</h3>
                        <p>Un annuaire des acteurs à l’échelle nationale et la mise en avant de bonnes pratiques pour favoriser les liens entre les territoires.</p>
                    </div>
                </div>

                <div class="split">
                    <img class="split-left" src="/img/landing/plateforme.png" alt="Capture de la plateforme" />
                    <div class="split-right">
                        <h4>Quels impacts ?</h4>
                        <p>
                            <strong>La visualisation et l’analyse des dynamiques locales permettent d’objectiver le sujet et de créer de nouvelles synergies.</strong><br/>
                            <ul class="list__arrow">
                                <li>Le suivi opérationnel est facilité et simplifié pour les responsables publics locaux.</li>
                                <li>Les actions et leurs limites éventuelles sont plus facilement identifiables.</li>
                                <li>Le pilotage aux niveaux national et local est renforcé et à terme plus efficace.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="hero hero-third" role="banner">
        <p class="credits">&copy; Armandine Penna</p>
        <div class="hero__container"></div>
    </div>

    <main role="main">
        <section class="section section-color">
            <div class="container container-medium">
                <h3>Renforcer la mise en œuvre des politiques publiques par le numérique</h3>
                <p><strong>À partir de 2018, le projet <em>Résorption bidonvilles</em></strong> est incubé au sein de la <strong>Fabrique numérique</strong> du ministère de la Transition écologique et solidaire et du ministère de la Cohésion des territoires et des Relations avec les collectivités territoriales, membre du réseau d’incubateurs <a href="https://beta.gouv.fr/">beta.gouv.fr</a>. Il est lauréat de l’appel à projet « <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/resorption-bidonvilles.html">Entrepreneur d’intérêt général</a> » du Programme d’investissement d’avenir.</p>
                <p>La <a href="https://www.gouvernement.fr/resorption-des-bidonvilles">Dihal</a> inscrit le projet de la plateforme dans cet environnement lié a la modernisation de l’action publique. Dès les premières réflexions, l’équipe a cherché à comprendre les besoins des acteurs de la résorption des bidonvilles afin d’apporter des réponses pertinentes par la plateforme. Ainsi, le projet s’inscrit dans une démarche de design centrée utilisateur, de co-conception et d’amélioration continue. <strong>Aujourd’hui encore, les développements de la plateforme se poursuivent en lien étroit avec ses usagers.</strong></p>
            </div>
        </section>
    </main>

    <main role="main" id="partenaires">
        <section class="section section-white">
            <div class="container container-large">
                <h1 class="blue-medium landing__title">Partenaires :</h1>
                <h1 class="landing__subtitle">un projet porté par la Délégation interministérielle à l’hébergement et à l’accès au logement</h1>
            </div>
            <div class="container container-medium">
                <p class="text-center"><a href="https://www.gouvernement.fr/resorption-des-bidonvilles"><img src="/img/landing/logo_dihal.jpg" width="160" alt="DIHAL" /></a></p>
                <p>Institué par un décret du 14 juillet 2010, le délégué interministériel pour l’hébergement et l’accès au logement, placé auprès du Premier ministre, est chargé d’assurer la coordination et le suivi de la mise en &oelig;uvre des priorités de l’Etat en matière d’hébergement et d’accès au logement des personnes sans-abri ou mal logées. Le délégué interministériel est Sylvain Mathieu, nommé par décret du mercredi 8 octobre 2014.</p>
                <p><a href="https://www.gouvernement.fr/resorption-des-bidonvilles">Plus d'informations</a></p>
            </div>
            <div class="container container-large">
                <div class="grid">
                    <div class="tile">
                        <a href="https://www.cohesion-territoires.gouv.fr/">
                            <img src="/img/landing/logo_mctrct.png" height="180" alt="Ministère de la cohésion des territoires" />
                        </a>
                    </div>
                    <div class="tile">
                        <a href="https://beta.gouv.fr/incubateurs/mtes.html">
                            <img src="/img/landing/logo_fabrique.png" width="155" alt="Fabrique numérique" />
                        </a>
                    </div>
                    <div class="tile">
                        <a href="https://beta.gouv.fr/">
                            <img src="/img/landing/logo_beta.jpg" width="180" alt="beta.gouv" />
                        </a>
                    </div>
                    <div class="tile">
                        <a href="https://solidarites-sante.gouv.fr/">
                            <img src="/img/landing/logo_mss.png" height="180" alt="Ministère des solidarités et de la santé" />
                        </a>
                    </div>
                    <div class="tile">
                        <a href="https://solidarites-sante.gouv.fr/affaires-sociales/lutte-contre-l-exclusion/lutte-pauvrete-gouv-fr/">
                            <img src="/img/landing/logo_strategie_pauvrete.png" width="260" alt="Stratégie de Prévention et de Luttre contre la Pauvreté" />
                        </a>
                    </div>
                    <div class="tile">
                        <a href="https://entrepreneur-interet-general.etalab.gouv.fr/defis/2019/resorption-bidonvilles.html">
                            <img src="/img/landing/logo_eig.png" width="250" alt="Entrepreneurs d'intérêt général" />
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-grey">
            <div class="container container-large text-center">
                <p><img src="/img/logo.svg" width="225" alt="Résorption Bidonvilles" /></p>
                <h3>Acteurs de la résorption des bidonvilles, partagez vos actions</h3>
                <p>
                    <router-link to="/demande-d-acces" class="button secondary">Demander un accès</router-link>
                    <router-link to="/connexion" class="button">Se connecter</router-link>
                </p>
            </div>
        </section>
    </main>

    <footer class="footer" role="contentinfo">
        <div class="container container-large">
            <ul class="footer__links contact">
                <li><font-awesome-icon icon="envelope"></font-awesome-icon></li>
                <li><h4>Contactez l’équipe du projet</h4></li>
                <li><h4><a href="mailto:contact@resorption-bidonvilles.beta.gouv.fr">contact@resorption-bidonvilles.beta.gouv.fr</a></h4></li>
            </ul>

            <ul class="footer__links">
                <li><a @click="$router.replace('#top', () => $router.replace('#contexte'));">Contexte</a></li>
                <li><a @click="$router.replace('#top', () => $router.replace('#plateforme'));">La plateforme</a></li>
                <li><a @click="$router.replace('#top', () => $router.replace('#partenaires'));">Partenaires</a></li>
                <li><a href="https://github.com/MTES-MCT/action-bidonvilles" title="Github"><svg class="icon icon-github"><use xlink:href="#github"></use></svg></a></li>
            </ul>

            <ul class="footer__links">
                <li><router-link to="/mentions-legales">Mentions légales</router-link></li>
                <li><router-link to="/typologie-des-acces"><font-awesome-icon icon="file-pdf"></font-awesome-icon> &nbsp;Guide des accès et de l'administrateur</router-link></li>
                <li><router-link to="/charte-d-engagement"><font-awesome-icon icon="file-pdf"></font-awesome-icon> &nbsp;Charte d'engagement de l'utilisateur</router-link></li>
            </ul>
        </div>
    </footer>
</div>