<div>
    <NavBar></NavBar>

    <section class="section section-white" id="form">
        <div class="container">
            <h1>Liste des dispositifs</h1>

            
        </div>
    </section>
</div>