<div class="page--withMargin">
    <NavBar></NavBar>

    <section class="section section-white">
        <div class="container">
            <h1>Liste des dispositifs existants</h1>
            <p>La page ci-dessous vous permet de voir un tableau récapitulatif de l'ensemble des dispositifs ayant été déclarés sur votre territoire. Vous pouvez accéder à la fiche du dispositif en cliquant sur le un dispositif de ce tableau.</p>

            //- state: loading in progress
            <div v-if="state === 'loading'" class="notification full-width">
                <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                <span>Chargement des données en cours...</span>
            </div>

            //- state: loading failed
            <div v-if="state === 'error'" class="notification error full-width">
                <span>{{ error }}. <span @click="retryLoading">Réessayer ?</span></span>
            </div>

            //- state: loaded
            <div v-if="state === 'loaded'">
                <Table v-bind="tableProperties" @on-row-click="routeToPlan">
                    <div slot="emptystate">Vous n'avez pas encore déclaré de dispositif dans votre territoire</div>
                </Table>
            </div>
        </div>
    </section>
</div>

