@import '/css/config/colors.scss';

.comment {
    background: white;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);

    ul {
        margin: 10px 0;
        padding: 0;
        list-style: none;

        > li {
            padding: 2px 0;
            font-weight: bold;
            color: $REGENT_GRAY;
            font-style: italic;

            > span {
                display: inline-block;
                width: 25px;
                text-align: center;
            }

            &.comment-author {
                color: #000;
                font-style: normal;

                svg,
                img {
                    color: $REGENT_GRAY;
                }
            }
        }
    }
}

.comment-content {
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px dotted $LIGHT_GREY;
}