@import '/css/config/colors.scss';

.popin {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.popin-wrapper {
    position: relative;
    display: flex;
    padding: 35px 70px;
    max-height: 95%;
    width: 1000px;
    overflow-y: auto;
    background: #EBEFF3;
    border-radius: 10px;
    align-items: flex-start;

    > div {
        flex-grow: 1;
        padding-bottom: 35px;
    }
}

.popin-header {
    margin-top: 0px;
    text-align: center;
}

.popin-title {
    margin: 10px 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: $EBONY_CLAY;
}

.popin-h1 {
    margin-top: 30px;
    font-weight: bold;
    color: $EASTERN_BLUE;
    font-size: 1rem;
}

.popin-body {
    margin-top: 40px;
}

.popin-close {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 40px;
}