.popin {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.popin-wrapper {
    display: flex;
    position: absolute;
    margin-left: -500px;
    padding: 35px 70px;
    width: 1000px;
    left: 50%;
    top: 170px;
    bottom: 170px;
    overflow-y: auto;
    background: #EBEFF3;
    border-radius: 10px;
    align-items: center;

    > div {
        flex-grow: 1;
    }
}

.popin-close {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 40px;
}