<div class="search__group">
    <input type="text" :placeholder="placeholder" @keyup="onTyping" @keydown="onNavigation" @focus="onFocus" @blur="onBlur" v-model.trim="query" :autofocus="autofocus">
    <div v-if="suggestions.length" class="autocomplete">
        <p v-for="(suggestion, index) in suggestions" class="autocomplete-result" v-bind:class="{ active: index === indexOfHighlightedSuggestion }" @mousedown="onSuggestionClick(suggestion)" v-html="(suggestion.type ? `<span>${suggestion.type}</span><br/>` : '') + suggestion.label"></p>
    </div>
    <button class="overlay-button" aria-label="Recherche" v-if="showMagnifier">
        <svg class="icon icon-search"><use xlink:href="#magnifier"></use></svg>
    </button>
</div>