<div>
    <p>Veuillez taper le nom d'un opérateur ci-dessous </p>
    <Autocompleter v-model="operator" :autofocus="false" :autocomplete-function="searchOperator" :show-magnifier="false"></Autocompleter>
</div>