.filterGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 20px 0;
    border-color: #13213F;
    border-style: solid;
    border-width: 0 0 1px;

    > aside {
        padding: 0 15px;

        > img {
            width: 0;
            height: 0;
        }
    }

    > main {
        > h1 {
            margin: 0 0 10px;
            padding: 0;
            font-size: 0.7em;
            font-weight: normal;
            text-transform: uppercase;
            color: #8393a7;
            letter-spacing: 0.05em;
            cursor: pointer;
        }

        label.label-inline {
            color: white;
            font-size: 0.95em;
        }

        input[type="checkbox"] {
            width: 17px;
            height: 17px;
            background-color: white;
        }

        input[type="checkbox"]:checked::before {
            top: 1px;
            left: 0;
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M14.23 1.304L6.112 9.501 2.767 6.117a1.029 1.029 0 0 0-1.464 0 1.054 1.054 0 0 0 0 1.479l4.055 4.101c.208.21.481.31.754.305.272.005.545-.095.753-.305l8.829-8.915a1.053 1.053 0 0 0 0-1.478 1.027 1.027 0 0 0-1.464 0z" fill="#006be6" /></svg>') center center no-repeat;
        }
    }
}

@media (min-width: 1150px) {
    .filterGroup {
        > aside {
            > img {
                width: 25px;
                height: 25px;
            }
        }
    }
}