<div>
    <NavBar></NavBar>

    <section class="section section-white signin">
        <div class="container">
            <Form v-bind="formDefinition" v-model="formData" @complete="onComplete"></Form>
        </div>
    </section>
</div>