// Override default vuepress body styles
body {
  @apply text-size-md font-body font-normal text-G700
}

h1 {
  @apply text-size-display-xl font-bold text-black
}

h2 {
  @apply text-size-display-lg font-bold text-black
}

h3 {
  @apply text-size-display-md font-bold text-black
}

.theme-default-content:not(.custom) > h1,h2,h3,h4,h5,h6,p {
  @apply mb-2 !important
}

.theme-default-content:not(.custom) > ul {
  list-style: disc
  @apply ml-4 !important
}

