table.vgt-table {
    tr {
        &.user {
            .user-role {
                padding: 3px 15px;
            }
        }
    
        &.user--highlight {
            background: #FFF0E4;
        }
    }
}

.user-role {
    border: 1px solid #ADB9C9;
    border-radius: 15px;
}

.user-statusIcon,
.user-validateIcon {
    color: #006BE6;
}

.user-validateIcon {
    font-size: 16px;
    cursor: pointer;
}

.user-statusIcon--flag {
    color: #FF9947;
}

.userList-header {
    text-align: right;
    margin-bottom: 20px;

    > .button {
        margin-left: 15px;
    }

    > a {
        vertical-align: middle;
    }
}