<div class="v1">
    <div class="page--withMargin">
        <NavBar></NavBar>

        <section class="section section-white">
            <div class="container">
                <h1>Liste des utilisateurs</h1>

                //- state: loading in progress
                <div v-if="state === 'loading'" class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>

                //- state: loading failed
                <div v-if="state === 'error'" class="notification error full-width">
                    <span>{{ error }}. <a href="#" @click="retryLoading">Réessayer ?</a></span>
                </div>

                //- state: loaded
                <div v-if="state === 'loaded'">
                    <header class="userList-header">
                        <router-link to="/typologie-des-acces" class="link"><font-awesome-icon icon="file-pdf"></font-awesome-icon> &nbsp;Guide des accès et de l'administrateur</router-link>
                        <router-link to="/charte-d-engagement" class="link"><font-awesome-icon icon="file-pdf"></font-awesome-icon> &nbsp;Charte d'engagement de l'utilisateur</router-link>
                        <router-link to="/nouvel-utilisateur" class="button">Ajouter un utilisateur</router-link>
                    </header>

                    <Table v-bind="tableProperties" @on-row-click="routeToUserValidation">
                        <template slot="table-row" slot-scope="props">
                            <span v-if="props.column.id === 'status'"><font-awesome-icon class="user-statusIcon" :class="`user-statusIcon--${props.formattedRow[props.column.field].icon}`" :icon="props.formattedRow[props.column.field].icon"></font-awesome-icon> <span v-html="props.formattedRow[props.column.field].label"></span></span>
                            <span v-else-if="props.column.id === 'role'">
                                <span class="role">{{ props.formattedRow[props.column.field] }}</span>
                            </span>
                            <span v-else-if="props.column.id === 'validate'">
                                <span><font-awesome-icon class="user-validateIcon" icon="arrow-right" @click="routeToUserValidation"></font-awesome-icon></span>
                            </span>
                            <span v-else :class="`userList-row--${props.column.id}`">{{ props.formattedRow[props.column.field] }}</span>
                        </template>
                    </Table>
                </div>
            </div>
        </section>
    </div>
</div>

