<table class="table">
    <thead>
        <tr>
            <th>Commune</th>
            <th>Adresse</th>
            <th>Type de site</th>
            <th>Personnes</th>
            <th>Ménages</th>
            <th>Mineurs</th>
            <th>Date d'installation</th>
            <th>Type de propriétaire</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="town in towns" @click="showTown(town.id)">
            <td>{{ town.city.name }}</td>
            <td>{{ town.address }}</td>
            <td>{{ town.fieldType.label }}</td>
            <td>{{ town.populationTotal !== null ? town.populationTotal : 'inconnu' }}</td>
            <td>{{ town.populationCouples !== null ? town.populationCouples : 'inconnu' }}</td>
            <td>{{ town.populationMinors !== null ? town.populationMinors : 'inconnu' }}</td>
            <td>{{ town.builtAt ? new Date(town.builtAt * 1000).toLocaleString().substr(0, 10) : 'inconnu' }}</td>
            <td>{{ town.ownerType.label }}</td>
        </tr>
    </tbody>
</table>