<div class="v1">
    <div class="page--withMargin">
        <NavBar></NavBar>

        <section class="section section-white" id="form" v-if="state === 'loading'">
            <div class="container">
                //- state: loading in progress
                <div class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>
            </div>
        </section>

        //- state: loading failed
        <div v-if="state === 'error'" class="notification error full-width">
            <p><font-awesome-icon icon="times"></font-awesome-icon> <strong>Une erreur est survenue</strong></p>
            <p><span v-html="error.replace(/\n/g, '<br/>')"></span></p>
            <p><a href="#" @click="retryLoading">Réessayer ?</a></p>
        </div>

        //- state: loaded
        <div v-if="state === 'loaded'">
            <Form v-bind="formDefinition" v-model="formData" @complete="onComplete" ref="form"></Form>
        </div>
    </div>
</div>
