.form__group > label {
    font-weight: bold;
}

.panel--empty {
    border-style: dashed;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background: rgba(150, 150, 150, 0.1);
}

.panel--empty:hover {
    background: rgba(200, 200, 200, 0.1);
}

.operators-removeContainer {
    display: inline-block;
    width: 5%;
}

.panel {
    display: inline-block;
    width: 95%;
}

.operators-removeIcon {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #F03A47;
    border-radius: 50%; 
    text-align: center;

    > img {
        margin-top: 3px;
        width: 14px;
        height: 14px;
    }

    &.disabled {
        cursor: initial;
        background: rgba(240, 58, 71, 0.3);
    }
}