<div class="v1">
    <div class="page--withMargin">
        <NavBar></NavBar>

        <section class="section section-white requestNewPassword">
            <div class="container">
                <Form v-bind="formDefinition" v-model="formData" @complete="onComplete"></Form>
            </div>
        </section>
    </div>
</div>
