<div>
    <NavBar></NavBar>

    <section class="section section-white">
        <div class="container">
            <div v-if="loading">
                <!-- LOADING STATE -->
                <div class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>
            </div>

            <div v-else-if="error">
                <!-- ERROR STATE -->
                <div class="notification error full-width">
                    <span>{{ error }}. <a href="#" @click="fetchData">Réessayer ?</a></span>
                </div>
            </div>

            <div v-else>
                <!-- SUCCESS STATE -->
                <header class="action-header">
                    <button v-if="hasPermission({ type: 'feature', name: 'deleteAction' }) && mode !== 'edit'" @click="destroy" class="button warning">Supprimer l'action</button>
                    <button v-if="hasPermission({ type: 'feature', name: 'createAction' }) && action.endedAt === null && mode !== 'edit'" @click="setEditMode" class="button secondary">Modifier l'action</button>
                    <button v-if="mode === 'edit'" @click="setViewMode" class="button warning">Annuler</button>
                    <button v-if="mode === 'edit'" @click="submitEdit" class="button">Sauvegarder</button>
                    <h1>{{ action.name }}</h1>
                    <h2>Dernière modification le <time>{{ new Date(action.updatedAt * 1000).toLocaleDateString().substr(0, 10) }}</time></h2>
                </header>

                <div class="notification error full-width" v-if="deleteError !== null">
                    <span>{{ deleteError }}</span>
                </div>

                <div v-if="mode === 'view'">
                    <div class="panel">
                        <div class="panel__header">
                            <h3>1. Description de l'action</h3>
                        </div>
                        <div class="form__group">
                            <p>
                                <strong>Type d'action :</strong> {{ action.type.label }}
                            </p>
                            <p>
                                <strong>Débutée le :</strong> {{ new Date(action.startedAt * 1000).toLocaleDateString().substr(0, 10) }} 
                            </p>
                            <p>
                                <strong>Terminée le :</strong> {{ action.endedAt ? new Date(action.endedAt * 1000).toLocaleDateString().substr(0, 10) : 'Action toujours en cours' }} 
                            </p>
                            <p>
                                <strong>Détails sur l'action :</strong> {{ description || 'Pas de détails' }}
                            </p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel__header">
                            <h3>2. Périmètre de l'action</h3>
                        </div>
                        <div class="form__group">
                            <p>
                                <strong>Territoire :</strong> {{ action.territory.name }}
                            </p>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel__header">
                            <h3>3. Étapes de l'action</h3>
                        </div>

                        <div class="form__group">
                            <p v-if="action.steps.length === 0">Aucune étape enregistrée pour le moment</p>
                            <p v-for="step in action.steps"><strong>Le {{ new Date(step.date * 1000).toLocaleDateString().substr(0, 10) }} :</strong><br/>{{ step.description }}</p>
                        </div>

                        <div class="form__group" v-if="hasPermission({ type: 'feature', name: 'createAction' })">
                            <div class="notification error" v-if="formError">{{formError }}.</div>
        
                            <label v-bind:class="{ error: fieldErrors.description }">Ajouter une étape :</label>
                            <p class="error" v-if="fieldErrors.description">
                                <ul>
                                    <li v-for="error in fieldErrors.description">{{ error }}</li>
                                </ul>
                            </p>
                            <div class="input__group">
                                <textarea v-model="newStep"></textarea>
                            </div>
                            <div class="input__group">
                                <button class="button large" @click="submit">Ajouter l'étape</button>
                            </div>  
                        </div>
                    </div>
                </div>

                <div v-if="mode === 'edit'">
                    <div class="panel">
                        <div class="panel__header">
                            <h3>1. Description de l'action</h3>
                        </div>

                        <div class="form__group">
                            <fieldset>
                                <legend v-bind:class="{ error: editErrors.type }">Type d'action :</legend>
                                <p class="error" v-if="editErrors.type">
                                    <ul>
                                        <li v-for="error in editErrors.type">{{ error }}</li>
                                    </ul>
                                </p>
                                <div v-for="(type, index) in actionTypes">
                                    <input type="radio" :id="'actionType' + index" :value="type.id" v-model="edit.type">
                                    <label :for="'actionType' + index" class="label-inline">{{ type.label }}</label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="form__group">
                            <label v-bind:class="{ error: editErrors.name }">Nom de l'action :</label>
                            <p class="error" v-if="editErrors.name">
                                <ul>
                                    <li v-for="error in editErrors.name">{{ error }}</li>
                                </ul>
                            </p>
                            <div class="input__group">
                                <input type="text" v-model="edit.name" />
                            </div>
                        </div>

                        <div class="form__group">
                            <label v-bind:class="{ error: editErrors.started_at }">Action débutée le :</label>
                            <p class="error" v-if="editErrors.started_at">
                                <ul>
                                    <li v-for="error in editErrors.started_at">{{ error }}</li>
                                </ul>
                            </p>
                            <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="edit.started_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                        </div>

                        <div class="form__group">
                            <label v-bind:class="{ error: editErrors.ended_at }">Action terminée le :</label>
                            <p class="error" v-if="editErrors.ended_at">
                                <ul>
                                    <li v-for="error in editErrors.ended_at">{{ error }}</li>
                                </ul>
                            </p>
                            <datepicker :language="dateLanguage" :monday-first="true" :disabled-dates="{ from: new Date() }" v-model="edit.ended_at" :full-month-name="true" :format="'dd MMMM yyyy'"></datepicker>
                        </div>

                        <div class="form__group">
                            <label>Détails sur l'action :</label>
                            <div class="input__group">
                                <textarea v-model="edit.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>