<div>
    <NavBar></NavBar>

    <section class="section section-white" id="form">
        <div class="container">
            <div v-if="preloading && !preloadError" class="notification full-width">
                <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                <span>Chargement des données en cours...</span>
            </div>

            <div v-else-if="preloading && preloadError" class="notification error full-width">
                <span>{{preloadError }}. <a href="#" @click="preload">Réessayer ?</a></span>
            </div>

            <div v-else>
                <Form v-bind="formDefinition" v-model="formData" @complete="onComplete" ref="form"></Form>
            </div>
        </div>
    </section>
</div>