@import './config/colors.scss';
@import './components/badge.scss';
@import './components/carousel.scss';
@import './components/comment.scss';
@import './components/changelog.scss';
@import './components/list.scss';
@import './components/notification.scss';
@import './components/page.scss';
@import './components/pagination.scss';
@import './components/popin.scss';
@import './components/role.scss';
@import './components/sidepanel.scss';
@import './components/switch.scss';
@import './components/table.scss';
@import './components/userCard.scss';
@import './components/userpost.scss';

.page--withMargin {
    padding-bottom: 50px;
}

label.error {
    color: #d63626;
    font-weight: bold;
}

.mandatory {
    font-weight: bold;
    color: #d63626;
}

p.error {
    margin-top: 0;

    & > ul {
        margin-top: 0;
        color: #d63626;
    }
}

label.error.message {
    font-weight: normal;
    font-style: italic;
}

.error > ul {
    color: #d63626;
}

select {
    background-size: 15px 15px;
}

@media (min-width: 800px) {
    .container,
    .dashboard {
        padding: 0 100px;
    }
}

.section {
    margin-top: 50px;
    padding: 0;
}

.main-pane {
    padding: 0;
}

.notification > .spinner {
    vertical-align: middle;
    margin-right: 10px;
}

.panel__header > h3 > a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.actionButton {
    padding: 3px 10px;
    color: white;
    background: #006be6;
    border-radius: 3px;
    border: none;
    font-size: 0.8rem;
    text-transform: uppercase;
}

button:disabled,
button:disabled:hover {
    background-color: rgba(0, 83, 179, 0.5);
    cursor: default;
}

.customNotifications {
    .notification-wrapper {
        margin-top: 50px;
    }

    .vue-notification,
    .vue-notification-template {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;

        font-size: 1.1rem;
        padding: 30px 10px;
        margin: 0 5px 5px;
        width: 400px;
        border-radius: 5px;
        text-align: center;

        color: #ffffff;
        background: #44A4FC;
        border-left: 5px solid #187FE7;

        .notification-icon {
            padding-left: 20px;
            text-align: center;

            &:before {
                content: '';
                display: inline-block;
                width: 70px;
                height: 70px;
                background: #fff;
                -webkit-mask: url('/img/check.svg') no-repeat center;
                mask: url('/img/check.svg') no-repeat center;
            }
        }

        .notification-content {
            flex-grow: 1;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;

            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;

            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;

            justify-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
        }

        &.success {
            background: #68CD86;
            border-left-color: #42A85F;
        }
    }
}

.leaflet-marker-custom {
    > span {
        display: block;
        position: relative;
        color: #fff;
        width: 30px;
        height: 30px;
        font-size: 0px;
        border-radius: 50%;
        white-space: nowrap;
    }

    > span:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
    }
    
    > span > i {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        position: absolute;
        bottom: -6px;
        left: 5px;
    }
}

.leaflet-show-addresses {
    .leaflet-marker-custom {
        > span {
            display: inline;
            font-size: 14px;
            padding: 5px 7px;
            border-radius: 5px;
        }

        > span:before {
            bottom: -10px;
            left: 10px;
        }

        > span:after {
            display: none;
        }
    }
}

.leaflet-address-toggler {
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);
}

.leaflet-legend {
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);

    > h1 {
        margin: 5px 0 0;
        padding: 0;
        font-size: 1rem;
    }

    > p > span {
        display: inline-block;
        margin-right: 5px;
        width: 15px;
        height: 15px;
        vertical-align: middle;
        background: red;
        border-radius: 3px;
    }
}

.alert {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);

    .wrapper {
        position: absolute;
        padding: 0 40px 40px;
        left: 100px;
        right: 100px;
        top: 100px;
        bottom: 100px;
        overflow-y: auto;
        background: white;
    }
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: $ENDEAVOUR_BLUE;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.fieldType {
    > i {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 3px;
        vertical-align: middle;
    }

    > span {
        margin-left: 5px;
        white-space: normal;
        display: inline-block;
        vertical-align: middle;
        max-width: 90px;
        line-height: 20px;
    }
}

.link--secondary {
    color: #8393a7;
}

.link--disabled {
    cursor: default;
    color: #ccc;
    font-weight: normal;

    &:hover {
        text-decoration: none;
    }
}

.mail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}