$MAX_CONTAINER_WIDTH: 1400px;

label.error {
    color: #d63626;
    font-weight: bold;
}

label.error.message {
    font-weight: normal;
    font-style: italic;
}

.container {
    max-width: $MAX_CONTAINER_WIDTH;
}

@media (min-width: 550px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 400px) {
    .container {
        width: 100%;
    }
}

@media (max-width: $MAX_CONTAINER_WIDTH) {
    .container {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.section:first-of-type {
    padding-top: 2em;
}

.notification > .spinner {
    vertical-align: middle;
    margin-right: 10px;
}