label.error {
    color: #d63626;
    font-weight: bold;
}

label.error.message {
    font-weight: normal;
    font-style: italic;
}

.container {
    max-width: none;
    padding: 0;
}

@media (min-width: 550px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 400px) {
    .container {
        width: 100%;
    }
}

.section {
    padding: 0;
}

.main-pane {
    padding: 0;
}

.notification > .spinner {
    vertical-align: middle;
    margin-right: 10px;
}

.panel__header > h3 > a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.actionButton {
    padding: 3px 10px;
    color: white;
    background: #006be6;
    border-radius: 3px;
    border: none;
    font-size: 0.8rem;
    text-transform: uppercase;
}