@tailwind base;
@font-face {
  font-family: Marianne;
  font-weight: 700;
  src: url("../fonts/Marianne-Bold.otf") format("opentype");
}

@font-face {
  font-family: Marianne;
  font-weight: 400;
  src: url("../fonts/Marianne-Regular.otf") format("opentype");
}

@font-face {
  font-family: Marianne;
  font-weight: 300;
  src: url("../fonts/Marianne-Light.otf") format("opentype");
}

// Typography should be defined before utilities, otherwise it's not possible to override colors or font-weight easily
@responsive {
  .text-display-xl {
    @apply text-size-display-xl font-bold text-black
  }

  .text-display-lg {
    @apply text-size-display-lg font-bold text-black
  }

  .text-display-md {
    @apply text-size-display-md font-bold text-black
  }

  .text-display-sm {
    @apply text-size-display-sm font-bold text-black
  }

  .text-display-xs {
    @apply text-size-display-xs font-bold text-black
  }

  .text-xl {
    @apply text-size-xl
  }

  .text-lg {
    @apply text-size-lg
  }

  .text-md {
    @apply text-size-md
  }

  .text-sm {
    @apply text-size-sm
  }

  .text-xs {
    @apply text-size-xs font-light
  }
}

@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-size-md font-body font-normal text-G700
  }
}
@layer utilities {
  .link {
    @apply text-blueFrance underline
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
