@import '/css/config/colors.scss';

.popin-icon {
    color: $RED;
}

.comment {
    padding: 30px;
}

textarea {
    min-height: 100px;
}

.commentDeletionButtons {
    margin-top: 30px;
    text-align: right;
}