<table class="table">
    <thead>
        <tr>
            <th>Type d'action</th>
            <th>Action débutée le</th>
            <th>Territoire concerné</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="action in actions" @click="showAction(action.id)">
            <td>{{ action.type.label }}</td>
            <td>{{ new Date(action.startedAt * 1000).toLocaleString().substr(0, 10) }}</td>
            <td>{{ action.territory.name }}</td>
        </tr>
    </tbody>
</table>