<div>
    <NavBar></NavBar>

    <section class="section section-white" id="form">
        <div class="container">
            <h1>Déclarer un dispositif</h1>
            <p>Ce formulaire vous permet de déclarer un dispositif ou une action menée sur votre territoire. Il peut s'agir notamment d'actions d'accompagnement social global, d'espaces temporaires d'insertion ou encore d'actions sanitaires (déployés sur un ou plusieurs bidonville ou "hors les murs"). Une fois ce formulaire validé, ledispositif fera l'objet d'une fiche dédiée, accessible via l'onglet "liste des dispositifs". Lorsque le symbole (*) apparaît en rouge au début de l'intitulé de la question, cela signifie qu'il s'agit d'une question obligatoire. Il n'est pas possible de valider le formulaire sans y avoir répondu.</p>

            <div v-if="!status || status === 'loading'">
                <!-- LOADING STATE -->
                <div class="notification full-width">
                    <img src="/img/spinner_dark.svg" width="20" class="spinner" />
                    <span>Chargement des données en cours...</span>
                </div>
            </div>

            <div v-else-if="status === 'loadingError'">
                <!-- ERROR STATE -->
                <div class="notification error full-width">
                    <span>{{ error }}. <span @click="load">Réessayer ?</span></span>
                </div>
            </div>

            <div v-else>
                <div>
                    <h3>1. Caractéristiques générales</h3>
                    <div class="form__group">
                        <label v-bind:class="{ error: form.errors.name }">Nom du dispositif :</label>
                        <p>Ce champ n'est pas obligatoire, vous pouvez le laisser vide</p>
                        <p class="error" v-if="form.errors.name">
                            <ul>
                                <li v-for="error in form.errors.name">{{ error }}</li>
                            </ul>
                        </p>

                        <input type="text" v-model="form.data.name" :disabled="form.pending" />
                    </div>

                    <div class="form__group">
                        <label v-bind:class="{ error: form.errors.type }"><sup class="mandatory">(*)</sup> Type de dispositif :</label>
                        <p class="error" v-if="form.errors.type">
                            <ul>
                                <li v-for="error in form.errors.type">{{ error }}</li>
                            </ul>
                        </p>
                        <div v-for="(type, index) in planTypes">
                            <input type="radio" :id="'planType' + index" :value="type.id" v-model="form.data.type" :disabled="form.pending">
                            <label :for="'planType' + index" class="label-inline">{{ type.label }}</label>
                        </div>
                    </div>

                    <div class="form__group">
                        <label v-bind:class="{ error: form.errors.startedAt }"><sup class="mandatory">(*)</sup> Début du dispositif le :</label>
                        <p class="error" v-if="form.errors.startedAt">
                            <ul>
                                <li v-for="error in form.errors.startedAt">{{ error }}</li>
                            </ul>
                        </p>
                        <datepicker :language="dateLanguage" :monday-first="true" v-model="form.data.startedAt" :full-month-name="true" :format="'dd MMMM yyyy'" :disabled="form.pending"></datepicker>
                    </div>
                </div>

                <div>
                    <h3>2. Opérateur en charge</h3>
                    <div class="form__group">
                        <label v-bind:class="{ error: form.errors.ngo }"><sup class="mandatory">(*)</sup> Opérateur :</label>
                        <p class="error" v-if="form.errors.ngo">
                            <ul>
                                <li v-for="error in form.errors.ngo">{{ error }}</li>
                            </ul>
                        </p>

                        <Operator v-model="form.data.operator" :disabled="form.pending"></Operator>
                    </div>
                </div>

                <div>
                    <h3>3. Sites concernés</h3>
                    <div class="form__group" style="display: none">
                        <label v-bind:class="{ error: form.errors.departement }"><sup class="mandatory">(*)</sup> Département concerné :</label>
                        <p class="error" v-if="form.errors.departement">
                            <ul>
                                <li v-for="error in form.errors.departement">{{ error }}</li>
                            </ul>
                        </p>

                        <select v-model="form.data.departement" :disabled="form.pending">
                            <option v-for="departement in departements" :value="departement.code">{{ departement.code + ' - ' + departement.name }}</option>
                        </select>
                    </div>

                    <div class="form__group">
                        <label>L'action est menée sur un ou plusieurs site(s) en particulier :</label>
                        <div v-for="(value, index) in [0,1]">
                            <input type="radio" :id="'targetedOnTowns' + index" :value="value === 1" v-model="form.data.targetedOnTowns" :disabled="form.pending">
                            <label :for="'targetedOnTowns' + index" class="label-inline">{{ value ? 'Oui' : 'Non' }}</label>
                        </div>
                    </div>

                    <div class="form__group" v-if="form.data.targetedOnTowns === true">
                        <VueGoodTable v-bind="tableProps" ref="towns"></VueGoodTable>
                    </div>
                </div>

                <div>
                    <h3>4. Financements</h3>
                    <p>Merci d’identifier séparément (ligne par ligne) les sources de financement d’un même acteur.</p>
                    <div class="form__group">
                        <label v-bind:class="{ error: form.errors.funding }">Financements :</label>
                        <p class="error" v-if="form.errors.funding">
                            <ul>
                                <li v-for="error in form.errors.funding">{{ error }}</li>
                            </ul>
                        </p>

                        <PlanFunding v-model="form.data.funding" :disabled="form.pending"></PlanFunding>
                    </div>

                    <div class="form__group">
                        <div class="notification error" v-if="form.mainError">{{ form.mainError }}.</div>
                    </div>

                    <div class="form__group">
                        <button class="button large" @click="submit" :disabled="form.pending">
                            <img src="/img/spinner_light.svg" width="20" v-if="form.pending" />
                            <span v-else>Déclarer le dispositif</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>