.badge {
    display: inline-block;
    border-radius: 50%;
    font-size: 0.7rem;
    text-align: center;
    color: #fff;
    background: #016be6;
    width: 15px;
    line-height: 15px;
    margin-left: 5px;
}