// V1
.rb-table {
    overflow: auto;
    min-height: 250px;

    > table {
        table-layout: fixed;

        thead {
            th {
                position: relative;
                padding-top: 7px;
                padding-bottom: 7px;
                color: #adb9c8;
                background: #53657d;
                white-space: nowrap;

                > span {
                    padding: 3px 10px;
                    border: 1px solid transparent;
                }

                &.filterable {
                    > span {
                        cursor: pointer;
                        border: 1px solid #fff;
                        border-radius: 3px;
                        color: #fff;

                        > img,
                        > svg {
                            margin-top: -10px;
                            margin-left: 5px;
                        }

                        &:hover {
                            background: rgba(255, 255, 255, 0.2);

                            &.active {
                                background: rgba(255, 255, 255, 0.8);
                            }
                        }

                        &.active {
                            background: white;
                            color: #53657d;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                cursor: pointer;

                &:hover {
                    background: #dde1e5;
                }

                &.odd {
                    background: #ebeff3;

                    &:hover {
                        background: #dde1e5;
                    }
                }

                &.townRow--empty {
                    td {
                        padding: 50px 0;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

// V2
.rb-table {
    overflow: auto;
    min-height: 250px;

    > table {
        table-layout: fixed;

        thead {
            th {
                position: relative;
                padding-top: 7px;
                padding-bottom: 7px;
                color: #adb9c8;
                background: #53657d;
                white-space: nowrap;

                > span {
                    padding: 3px 10px;
                    border: 1px solid transparent;
                }
            }

            th.table-col--filterable {
                > span {
                    cursor: pointer;
                    border: 1px solid #fff;
                    border-radius: 3px;
                    color: #fff;

                    > img,
                    > svg {
                        margin-top: -10px;
                        margin-left: 5px;
                    }

                    &:hover {
                        background: rgba(255, 255, 255, 0.2);
                    }
                }
            }

            th.table-col--filterable.table-col--active {
                > span {
                    background: white;
                    color: #53657d;

                    &:hover {
                        background: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }

        tbody {
            tr {
                cursor: pointer;

                &:hover {
                    background: #dde1e5;
                }
            }

            tr.table-row--odd {
                background: #ebeff3;

                &:hover {
                    background: #dde1e5;
                }
            }

            tr.table-row--empty {
                td {
                    padding: 50px 0;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}

.rb-table-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vgt-table {
    th, td {
        padding: .75em !important;
    }
}
