<div>
    <NavBar></NavBar>

    <section class="section section-white" id="form">
        <div class="container">
            <form action="javascript:void(0);" method="get" name="form">
                <h1>Demande d'accès</h1>

                <div v-if="success">
                    <div class="notification success">Votre demande a bien été prise en compte.</div>
                    <p>Nous vous recontacterons bientôt pour vous communiquer vos identifiants.</p>
                </div>

                <div v-else>
                    <div v-if="errors" class="notification error">{{ errors.user_message }}</div>

                    <p>Pour accéder aux données de la plateforme action-bidonvilles.beta.gouv.fr, merci de nous faire parvenir votre demande d'identifiants via le formulaire ci-dessous.</p>

                    <div class="form__group">
                        <label for="email" v-bind:class="{ error: errors && errors.details.email }">Votre email :</label>
                        <label class="error message" v-if="errors && errors.details.email">{{ errors.details.email }}</label>
                        <input type="email" v-model.lazy.trim="email" id="email" :readonly="loading">
                    </div>

                    <div class="form__group">
                        <label for="textarea" v-bind:class="{ error: errors && errors.details.description }">Présentation de l'organisation que vous représentez :</label>
                        <label class="error message" v-if="errors && errors.details.description">{{ errors.details.description }}</label>
                        <textarea v-model.lazy.trim="description" id="description" :readonly="loading"></textarea>
                    </div>

                    <div class="form__group">
                        <button class="button" type="submit" @click="submit">
                            <img src="/img/spinner_light.svg" width="20" v-if="loading" />
                            <span v-else>Demander un accès</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>