@import '/css/config/colors.scss';

h3 {
    margin: 0;
    font-size: 2rem;
}

.userActivity-rule {
    margin: 20px 0 30px;
    width: 75%;

    .slideNote-body {
        > h1 {
            margin-top: 10px;
        }
    }
}

.userActivity {
    .table td {
        vertical-align: top;
    }

    .table-col--date {
        width: 120px;
    }

    .table-col--author {
        width: 250px;
    }

    .changelog {
        padding-top: 7px;
        margin: 0 0 7px;
        border-top: 1px dotted $REGENT_GRAY;

        &:first-of-type {
            margin-top: 7px;
        }
    }
}

.userActivity-action {
    display: inline-block;
    font-weight: bold;
    width: 100%;

    svg,
    img {
        margin-right: 5px;
        color: $REGENT_GRAY;
    }
}

.userActivity-content {
    padding-top: 7px;
    margin-top: 7px;
    border-top: 1px dotted $REGENT_GRAY;
}

.userActivity-remove {
    margin-top: 10px;
    text-align: right;
    visibility: hidden;
    font-weight: bold;

    span.link {
        color: $RED;
    }
}

.userActivity {
    .table td:hover {
        .userActivity-remove {
            visibility: visible;
        }
    }
}