@import '@resorptionbidonvilles/ui/src/css/styles.css';

html,
body {
    height: 100%;
    @apply antialiased;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
}

#app {
    height: 100%;
}

/* CSS spécifique aux cartes leaflet */
.leaflet-control-layers, .leaflet-control-zoom {
    border-color: rgb(0 0 145 ) !important;
    border-radius: 0 !important;
}

/* CSS spécifique pour écraser le DSFR */
:root {
    --underline-img: none; 
}

input, textarea {
    border: 2px solid #e5e7eb;
}

input[type=checkbox] {
    display: none;
}

a {
    text-decoration: none;
    background: none;
}

button.bg-primary:hover {
    background-color: rgb(0 0 108 / var(--tw-bg-opacity)) !important;
}

button.fr-btn--primary:hover {
    background-color: rgb(0 0 108) !important;
}

p {
    font-size: inherit;
}

@media (hover:hover) {
     a[href]:hover, button:not(:disabled):hover:not(.fr-btn), input[type=button]:not(:disabled):hover, input[type=image]:not(:disabled):hover, input[type=reset]:not(:disabled):hover, input[type=submit]:not(:disabled):hover {
        background: none;
    }
}

input[type=search] {
    background-color: white;
}