<ul class="nav__links">
    <li v-for="item in items" :key="item.target" class="nav__item">
        <div v-if="item.items" class="dropdown">{{ item.label }}
            <div class="dropdown-content">
                <router-link v-for="subitem in item.items" :to="subitem.target" :key="subitem.target" v-bind:class="Object.assign(subitem.classes || {}, subitem.group ? { active: isCurrentRouteAMemberOf(subitem.group) } : {})">{{ subitem.label }}</router-link>
            </div>
        </div>

        <router-link v-else :to="item.target" v-bind:class="Object.assign(item.classes || {}, item.group ? { active: isCurrentRouteAMemberOf(item.group) } : {})">{{ item.label }}</router-link>
    </li>
</ul>
