<ul class="nav__links">
    <li v-for="item in items" class="nav__item">
        <router-link :to="item.target" v-bind:class="item.group ? { active: isCurrentRouteAMemberOf(item.group) } : {}">{{ item.label }}</router-link>
    </li>
</ul>