<header role="navigation">
    <div class="topbar">
        <div class="topbar-container">
            <router-link to="/landing" class="topbar-home">
                <img src="/img/logo-marianne.svg" class="topbar-marianne" alt="france" />
                <span class="topbar-domain" >resorption-bidonvilles.</span>
                <img src="/img/betagouvfr.svg" class="topbar-betagouv" alt="beta.gouv.fr" />
            </router-link>

            <span class="topbar-menu" ref="menu" @click="showSidebar">Menu</span>

            include links.pug
        </div>

        <div class="sidebar" ref="sidebar" v-bind:class="{ opened: isSidebarOpened }">
            <div class="sidebar-cross" @click="hideSidebar">
                <img src="/img/cross.svg" alt="Fermer" />
            </div>

            include links.pug
        </div>
    </div>

    <div class="bg-red text-white w-full py-4 flex items-center">
        <div class="container flex itens-center">
            <div>
                <div class="text-display-md text-white"><Icon icon="exclamation-triangle" /> Perturbation du service</div>
                <div>Nos serveurs ont été touchés par un incendie survenu chez notre hébergeur de données OVH. Nous avons temporairement mis en place une version dégradée du site depuis une sauvegarde antérieure. Nous mettons tout en œuvre pour restaurer nos services le plus rapidement possible.</div>
            </div>
        </div>
    </div>
</header>
