<header role="navigation">
    <div class="topbar">
        <div class="topbar-container">
            <router-link to="/" class="topbar-home">
                <img src="/img/logo-marianne.svg" class="topbar-marianne" alt="france" />
                <span class="topbar-domain" >action-bidonvilles.</span>
                <img src="/img/betagouvfr.svg" class="topbar-betagouv" alt="beta.gouv.fr" />
            </router-link>

            <span class="topbar-menu" ref="menu" @click="showSidebar">Menu</span>

            include links.pug
        </div>
    </div>

    <div class="sidebar" ref="sidebar" v-bind:class="{ opened: isSidebarOpened }">
        <div class="sidebar-cross" @click="hideSidebar">
            <img src="/img/cross.svg" alt="Fermer" />
        </div>

        include links.pug
    </div>
</header>