<header role="navigation">
    <div class="topbar">
        <div class="topbar-container">
            <router-link to="/landing" class="topbar-home">
                <img src="/img/logo-marianne.svg" class="topbar-marianne" alt="france" />
                <span class="topbar-domain" >resorption-bidonvilles.</span>
                <img src="/img/betagouvfr.svg" class="topbar-betagouv" alt="beta.gouv.fr" />
            </router-link>

            <span class="topbar-menu" ref="menu" @click="showSidebar">Menu</span>

            include links.pug
        </div>

        <div class="sidebar" ref="sidebar" v-bind:class="{ opened: isSidebarOpened }">
            <div class="sidebar-cross" @click="hideSidebar">
                <img src="/img/cross.svg" alt="Fermer" />
            </div>

            include links.pug
        </div>
    </div>

    <div class="bg-orange300 w-full py-4 flex items-center" v-if="!hideAlert">
        <div class="container flex items-center">
            <Icon icon="exclamation-triangle" class="text-display-lg mr-4 text-primary" />
            <div>La plateforme fonctionne partiellement. Il est impossible de modifier les informations. <span class="font-bold">Les données visibles datent du 14 janvier 2021</span>. Retour à la normale prévue la semaine du 22 mars. Merci de votre patience.</div>
        </div>
    </div>
</header>
