@import '#src/css/v1/config/colors.scss';

.v1 {
    .dashboard {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .filters {
            z-index: 5000;
            width: 280px;
            color: white;
            background: $NILE_BLUE;
            box-shadow: -2px 9px 5px 5px rgba(0,0,0,0.5);

            .autocomplete-result {
                padding-top: 10px;
                padding-bottom: 10px;

                span {
                    padding-bottom: 25px;
                }

                white-space: normal;
                line-height: 25px;
            }
        }

        .content {
            position: relative;
            width: 200px;
            flex-grow: 1;
            overflow: auto;

            .map {
                position: absolute;
                width: 100%;
                height: 100%;

                #map {
                    height: 100%;
                }

                .search__group {
                    z-index: 1000;
                    left: 15px;
                    top: 11px;
                    right: 150px;
                    position: absolute;
                }
            }

            .table {
                > thead {
                    th span {
                        cursor: pointer;
                    }
                }

                > tbody {
                    tr {
                        cursor: pointer;
                    }
                }
            }
        }

        .autocomplete-result {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            > span {
                font-weight: bold;
            }
        }
    }

    .page--dashboard {
        .dashboard {
            padding: 0;
        }
    }

    .leaflet-interactive {
        /* stroke: grey; */
        /* stroke:blue;*/
        stroke:grey;
        stroke-width: 2;
    }

    .circle {
        border-color: rgba(194, 221, 167, 0.8);
        background: rgba(144, 221, 103, 0.8);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        border-style: solid;
        border-width: medium;
        // font-weight: bold;
        color: black;
    }

    .circle.region {
        /* background: rgba(0, 57, 128, 0.2); */
        /* border-color: #3388FF; */
        font-size: 16px;
    }

    .circle.dept {
        // background: rgba(0, 57, 128, 0.2);
        // border-color:darkslategray;
        font-size: 10px;
        // color: white;
    }
}

