.directory-search {
    max-width: 500px;
    margin-bottom: 20px;
}

.directoryColumn-role {
    white-space: nowrap;
}

.table {
    .table-col--contacts {
        text-align: right;

        img,
        svg {
            color: #0053B3;
            margin-left: 5px;
            vertical-align: middle;
        }
    }
}