name: "check-lint"

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - uses: actions/setup-node@v2
        with:
          node-version: '16.14.0'
      - name: Get yarn cache
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
        id: yarn-cache
      - uses: actions/cache@v4
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --silent
        if: steps.yarn-cache.outputs.cache-hit != 'true'
      - run: yarn lint:all